<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div id="likesTable" style="display:block" th:fragment="likesTable">
  <div class="table-responsive mb-4">
    <div class="table-wrapper">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Avatar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${usersLikedPage.content}">
          <td class="text-align-center">
            <a th:href="@{/management/users/{id}(id=${user.getId()})}" th:text="${user.getId()}"></a>
          </td>
          <td th:text="${user.name}"></td>
          <td>
            <img th:if="user.profilePicturePath ne null or user.profilePicturePath ne ''" th:src="${user.profilePicturePath}" th:alt="'Avatar for user with id ' + ${user.id}">
            <p th:if="user.profilePicturePath == null or user.profilePicturePath == ''">No Avatar</p>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <!-- Pagination -->
    <div class="clearfix" th:if="${usersLikedPage.content.size() > 0}">
      <ul class="pagination">
        <li class="page-item" th:classappend="${usersLikedPage.isFirst()} ? 'disabled'">
          <a class="page-link" th:onclick="'loadDropdownContent(\'likes\',' + ${usersLikedPage.number - 1} + ')'">Previous</a>
        </li>
        <li class="page-item" th:each="pageNumber : ${#numbers.sequence(0, usersLikedPage.totalPages - 1)}"
            th:classappend="${pageNumber == usersLikedPage.number} ? 'active'">
          <a class="page-link" th:onclick="'loadDropdownContent(\'likes\',' + ${pageNumber} + ')'"
             th:text="${pageNumber + 1}"></a>
        </li>
        <li class="page-item" th:classappend="${usersLikedPage.isLast()} ? 'disabled'">
          <a class="page-link" th:onclick="'loadDropdownContent(\'likes\',' + ${usersLikedPage.number + 1} + ')'">Next</a>
        </li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>
