*{
    box-sizing: border-box;
}

body{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body h1{
    font-weight: 600;
}
body hr{
    width:50px;
    border: none;
    border-bottom: 1px solid rgba(91, 89, 89, 0.25)
}
.container{
    width: 60%;
    margin: 1rem auto;
    padding: 2rem;
    text-align: justify;
    transition: all 0.3s;
}
.container p{
    line-height: 1.5;
    letter-spacing: 0.3px;
    word-spacing: 2px;
}

.container p:first-child::first-letter{
    color: #2dc3b5;
    font-weight: bold;
    font-size: 70px;
    float: left;
    line-height: 60px;
    padding-right: 8px;
    margin-top: -3px;
}

@media screen and (max-width:600px){
    .container{
        width: 100%;
        padding: 1rem;
    }
}