#editor-container {
    min-height: 120px;
}

.quill-error, .form-error {
    color: red;
    font-size: 12px;
}

.custom-carousel-control {
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.custom-carousel-control.carousel-control-prev {
    left: 10px;
}

.custom-carousel-control.carousel-control-next {
    right: 10px;
}
