.preview-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.preview-container .img-container {
    position: relative;
    display: inline-block;
}

.preview-container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 0.25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #c82333;
}

.error {
    color: red;
    font-weight: bold;
}

.file-upload-btn {
    display: inline-block;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.file-upload-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

.file-upload-btn input[type="file"] {
    display: none;
}