h1 {
    color: #708090;
}

h2 {
    color: #708090;
}

table {
    border-collapse: collapse;
}

table th, table td {
    padding: 5px;
}

.error {
    color: red;
    text-align: center;
    margin-top: -26px;
}

/* The popup form - hidden by default */
.form-popup {
    padding-left: 20px;
    display: none;
    position: absolute;

    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 280px;
    height: 600px;
    border-top: none;
    border-left: 1px solid #9CA7B0;
    border-right: 1px solid #9CA7B0;
    border-bottom: 1px solid #9CA7B0;    padding: 18px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 15px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    border: #28a745;
    border: 3px;
    border-radius: 2px;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}



.filter-btn{
    height: 40px;
    width: 240px;
    border: 1px solid #13AA57;
    border-radius: 4px;
    background-color: #13AA57;
    color: white;
    margin-bottom: 30px;
}
.apply-btn{
    height: 40px;
    width: 91px;
    border: 1px solid #13AA57;
    border-radius: 4px;
    background-color: #13AA57;
    color: white;
    margin-left: 18px;
}
.star1{
    background-image: url("/img/star-empty.png");

}
.star2{
    background-image: url("/img/star-empty.png");
}
.star3{
    background-image: url("/img/star-empty.png");
}
input[type=checkbox]{
    color: #13AA57;
}
