<html lang="en" xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footer">
    <div class="main-background-image">
        <div class="main">
            <a href="/management/" class="small-screen-size">
                <img th:src="@{/img/greencity-logo.png}" class="logo" alt="GreenCity Logo">
            </a>
            <div class="links">
                <div class="left-side">
                    <ul class="list-of-site-links">
                        <li>
                            <a class="router-links" href="/management/eco-news">Eco news</a>
                        </li>
                        <li>
                            <a href="/management/tipsandtricks" class="router-links">Tips & Tricks</a>
                        </li>
                        <li>
                            <a class="router-links" href="#">Fact of the day</a>
                        </li>
                        <li>
                            <a class="router-links" href="/management/users">Users</a>
                        </li>
                        <li>
                            <a href="/management/habits/" class="router-links">Habits</a>
                        </li>
                        <li>
                            <a href="/management/facts/" class="router-links">Habit Facts</a>
                        </li>
                        <li>
                            <a href="/management/rating/" class="router-links">
                                Rating
                            </a>
                        </li>
                        <li>
                            <a href="/management/places/" class="router-links">Places</a>
                        </li>
                        <li>
                            <a href="/management/socialnetworkimages" class="router-links">Social network images</a>
                        </li>
                    </ul>
                </div>
                <div class="bottom-part">
                    &copy; Copyright 2020. Green City.
                </div>
            </div>
        </div>
    </div>
</footer>
