<html lang="en" xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footer">
    <div class="main-background-image">
        <div class="main">
            <a class="small-screen-size" href="/management/">
                <img alt="GreenCity Logo" class="logo" th:src="@{/img/greencity-logo.png}">
            </a>
            <div class="links">
                <div class="left-side">
                    <ul class="list-of-site-links">
                        <li>
                            <a class="router-links" href="/management/advices">Advices</a>
                        </li>
                        <li>
                            <a class="router-links" href="/management/eco-news">Eco news</a>
                        </li>
                        <li>
                            <a class="router-links" href="/management/tipsandtricks">Tips & Tricks</a>
                        </li>
                        <li>
                            <a class="router-links" href="#">Fact of the day</a>
                        </li>
                        <li>
                            <a class="router-links" href="/management/users">Users</a>
                        </li>
                        <li>
                            <a class="router-links" href="/management/habits/">Habits</a>
                        </li>
                        <li>
                            <a class="router-links" href="/management/facts">Habit Facts</a>
                        </li>
                        <li>
                            <a class="router-links" href="/management/rating/">
                                Rating
                            </a>
                        </li>
                        <li>
                            <a class="router-links" href="/management/places/">Places</a>
                        </li>
                        <li>
                            <a class="router-links" href="/management/socialnetworkimages">Social network images</a>
                        </li>
                        <li>
                            <a class="router-links" href="/management/goals/">Goals</a>
                        </li>
                    </ul>
                </div>
                <div class="bottom-part">
                    &copy; Copyright 2020. Green City.
                </div>
            </div>
        </div>
    </div>
</footer>
