<html lang="en" xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header">
    <div class="main-header">
        <div class="main-container-header">
            <div class="header">
                <div class="logo">
                    <a href="/management/">
                        <img alt="logo" th:src="@{/img/logo_M.png}">
                    </a>
                </div>
                <div class="navigation-menu">
                    <div class="navigation-menu-left">
                        <ul>
                            <li>
                                <a href="/management/advices">
                                    Advices
                                </a>
                            </li>
                            <li>
                                <a href="/management/eco-news">
                                    Eco news
                                </a>
                            </li>
                            <li>
                                <a href="/management/tipsandtricks">
                                    Tips & Tricks
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/management/factoftheday}">
                                    Fact of the day
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/management/users}">
                                    Users
                                </a>
                            </li>
                            <li>
                                <a href="/management/habits/">
                                    Habits
                                </a>
                            </li>
                            <li>
                                <a href="/management/facts">
                                    Habit Facts
                                </a>
                            </li>
                            <li>
                                <a href="/management/rating/">
                                    Rating
                                </a>
                            </li>
                            <li>
                                <a href="/management/places/">
                                    Places
                                </a>
                            </li>
                            <li>
                                <a href="/management/socialnetworkimages/">
                                    Social network images
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
