<html lang="en" xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header">
    <div class="main-header">
        <div class="main-container-header">
            <div class="header">
                <div class="logo">
                    <a href="/management/">
                        <img alt="logo" th:src="@{/img/logo_M.png}">
                    </a>
                </div>
                <div class="header-content-left">
                    <div class="dropdown">
                        <button class="dropbtn header">[[#{greenCity.current.language}]]
                            <i class="fas fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a onclick="setLanguageUa()">Ua</a>
                            <a onclick="setLanguageEn()">En</a>
                        </div>
                    </div>
                    <div class="login">
                        <form th:if="${T(greencity.security.utils.SecurityUtils).isAuthenticated()}" action="/management/logout" method="get" >
                            <button type="submit">Logout</button>
                        </form>
                        <form th:if="${!T(greencity.security.utils.SecurityUtils).isAuthenticated()}" action="/management/login" method="get" >
                            <button type="submit">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
