<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset=UTF-8/>
    <title>User management</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/position.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800&display=swap&subset=cyrillic"
          rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet"/>
<!--    <script src="https://kit.fontawesome.com/c847fb58e4.js" crossorigin="anonymous"></script>-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


    <script th:src="@{/management/localization/buttonsAJAX.js}"></script>
    <script th:src="@{/management/user/buttonsAJAX.js}"></script>
    <script th:src="@{/management/user/jquery.liTextLength.js}"></script>
    <script th:src="@{/management/user/paginationAndSort.js}"></script>
    <link rel="stylesheet" th:href="@{/management/css/table_Modal_Pagination.css}">
    <link rel="stylesheet" th:href="@{/management/css/slider.css}">
    <link rel="stylesheet" th:href="@{/management/css/sidebar.css}">
</head>
<body onload="chageIcons()">
<script>
    $(function () {
        $('.pr').liTextLength({
            length: 25,
            afterLength: '...',
            fullText: false
        });
    });
</script>
<div id="header" th:insert="core/header"></div>
<div>
    <div id="sidebar" th:insert="core/sidepanel"></div>
</div>
<div class="main-content">
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <!--Header-->
                    <div class="row manager-user">
                        <h2 class="text-describe" th:text="#{greenCity.user.page.h}"></h2>
                        <div class="buttons">
                            <a href="#deactivateAllSelectedModal" id="btnDeactivate" class="btn btn-remove disabled"
                               data-toggle="modal">
                                <div>[[#{greenCity.user.page.deactivated}]]</div>
                            </a>
                            <a href="#addUserModal" id="addUserModalBtn" class="btn btn-secondary" data-toggle="modal">
                                <div>[[#{greenCity.user.page.add.user}]]</div>
                            </a>
                            <!--    Add user modal-->
                            <div th:id="addUserModal" class="modal fade">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form th:action="@{/management/users/register}"
                                              class="needs-validation" method="post" id="addUserForm" novalidate>
                                            <div class="modal-header">
                                                <h4 class="modal-title-act">[[#{greenCity.user.page.add.user}]]</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            </div>
                                            <div class="modal-body" id="addModalBody">
                                                <input type="hidden" class="form-control" name="id" th:value="-1"  readonly required>
                                                <div class="form-group">
                                                    <label>[[#{greenCity.pages.table.userName}]]</label>
                                                    <input type="text" class="form-control" name="name"
                                                           minlength="6" maxlength="30" required>
                                                    <div class="invalid-feedback">
                                                        [[#{greenCity.user.page.name.validation.error}]]
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>[[#{greenCity.pages.table.email}]]</label>
                                                    <input type="email" class="form-control" name="email" required>
                                                    <div class="invalid-feedback">
                                                        [[#{greenCity.user.page.email.validation.error}]]
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>[[#{greenCity.pages.table.role}]]</label>
                                                    <select class="form-control" name="role" required >
                                                        <option value="" hidden>Select a role</option>
                                                        <option th:each="role : ${T(greencity.enums.Role).values()}"
                                                                th:value="${role}"
                                                                th:text="${role}">
                                                        </option>
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        [[#{greenCity.user.page.role.validation.error}]]
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label>[[#{greenCity.pages.table.status}]]</label>
                                                    <input type="text" class="form-control" name="userStatus" value="CREATED" readonly required>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <input type="button" class="btn btn-default btn-tertiary" data-dismiss="modal" th:value="#{greenCity.pages.popup.cancel.}">
                                                <input type="submit" class="btn btn-success btn-primary" th:value="#{greenCity.pages.popup.add.}"  id="submitAddBtn">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                    Search, sort and pagination-->
                    <div class="row-box-and-sort">
                        <div class="main-search">
                            <form class="form-inline searching" method="get" th:action="@{/management/users}">
                                <input type="search" class="form-search" th:placeholder="#{greenCity.pages.search}" name="query">
                            </form>
                            <div>
                            <button class="filter-button" id="filter-button" onclick="openForm()">
                                <img src="/img/filter-icon.svg" alt="Filter icon">[[#{greenCity.pages.filter}]]
                            </button>
                            <div class="form-popup" id="filter">
                                <form class="form-container"
                                      style="width: 280px" method="post" th:action="@{/management/users/filter-save}">
                                   <label>[[#{greenCity.pages.table.filtername}]]</label>
                                    <input type="text" name="name" class="form-control" required>
                                    <label>[[#{greenCity.pages.table.search}]]</label>
                                    <input type="text" name="searchCriteria" class="form-control" required>
                                    <div class="form-group">
                                        <label>[[#{greenCity.pages.table.role}]]</label>
                                        <select class="form-control" name="userRole">
                                            <option selected="selected" value="all">All types</option>
                                            <option value="0">ROLE_USER</option>
                                            <option value="1">ROLE_ADMIN</option>
                                            <option value="2">ROLE_MODERATOR</option>
                                        </select>
                                        <span th:id="errorModalSaverole" class="errorSpan"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>[[#{greenCity.pages.table.status}]]</label>
                                        <select class="form-control" name="userStatus">
                                            <option selected="selected" value="all">All types</option>
                                            <option value="2">ACTIVATED</option>
                                            <option value="1">DEACTIVATED</option>
                                            <option value="0">BLOCKED</option>
                                            <option value="3">CREATED</option>
                                        </select>
                                        <span th:id="errorModalSaverole" class="errorSpan"></span>
                                    </div>
                                    <table class="table">
                                        <tr th:each="filter: ${filters}" class="filter-table">
                                            <td><a th:href="@{|/management/users/select-filter/${filter.getId()}|}" th:text="${filter.getName()}"></a></td>
                                            <td><a th:href="@{|/management/users/${filter.getId()}/delete-filter|}">&#215;</a></td>
                                        </tr>
                                    </table>
                                    <span th:if="${filters.size() == 3}" style="color: red;">[[#{greenCity.pages.table.filtermessage}]]</span>
                                    <div style="float: right;margin-top: 30px; margin-bottom: 18px; ">
                                        <button type="submit" class="filter-btn" style="float: right" th:if="${filters.size() <= 3}">
                                            <b>[[#{greenCity.pages.popup.save.}]]</b>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            </div>
                        </div>
                        <div class="filter-list-grid">
                            <div class="dropdown size">
                                <img src="/img/arrow-down.svg" alt="arrow-icon" class="change_color">
                                <button class="dropbtn size" th:text="${paging.pageSize}">
                                </button>
                                <div class="dropdown-content size">
                                    <a class="lightgrey" onclick="saveItemsOnPage('20')">20</a>
                                    <a class="lightgrey" onclick="saveItemsOnPage('40')">40</a>
                                    <a class="lightgrey" onclick="saveItemsOnPage('100')">100</a>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                    Table header-->
                    <table class="table table-bordered">
                        <thead>
                        <tr class="table-primary ">
                            <th style="width: 48px;">
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="selectAll">
                                    <label for="selectAll"></label>
                                </span>
                            </th>
                            <th style="width: 120px;">
                                <span>[[#{greenCity.pages.table.id}]]</span>
                                <img id="id-icon" class="sorting" src="/img/arrow-up.svg" alt="arrow-icon" onclick="sortByFieldName('id')">
                                <span class="table-filter-icon"></span>
                            </th>
                            <th class="username" style="width: 180px">
                                [[#{greenCity.pages.table.userName}]]
                                <img id="user-icon" class="sorting" src="/img/arrow-up.svg" alt="arrow-icon"onclick="sortByFieldName('name')">
                                <span class="table-filter-icon"></span>

<!--                                <div class="name-filter-form" style="display: block;">-->
<!--                                    <div class="filter-sorting-buttons">-->
<!--                                        <button class="sort-buttons asc" onclick="byNameFieldAsc('name')">Ascending</button>-->
<!--                                        <button class="sort-buttons" onclick="byNameFieldDesc('name')">Descending</button>-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <form action="/management/users" id="nameFilterForm"&ndash;&gt;-->
<!--&lt;!&ndash;                                          method="GET">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <input type="search" class="form-search filter" th:placeholder="#{greenCity.pages.search}"&ndash;&gt;-->
<!--&lt;!&ndash;                                               th:name="name"&ndash;&gt;-->
<!--&lt;!&ndash;                                               th:value="${fields eq null ? '' : fields.name}">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <div class="filter-checkbox">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <input type="checkbox" class="filter-checkbox-input">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <p class="filter-checkbox-text">save filtering</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <div class="filter-buttons">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <button class="filter-cancel">Cancel</button>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <button type="submit" class="filter-apply">Save changes</button>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                                    </form>-->
<!--       перша форма                         </div>-->
                            </th>
                            <th style="width: 241px;">
                                [[#{greenCity.pages.table.email}]]
                                <img id="email-icon" class="sorting" style="left: 65%" src="/img/arrow-up.svg" alt="arrow-icon" onclick="sortByFieldName('email')">
                                <span class="table-filter-icon"></span>
<!--                                <div class="name-filter-form" style="display: none;">-->
<!--                                    <div class="filter-sorting-buttons">-->
<!--                                        <button class="sort-buttons asc" onclick="byNameFieldAsc('email')">Ascending</button>-->
<!--                                        <button class="sort-buttons" onclick="byNameFieldDesc('email')">Descending</button>-->
<!--                                    </div>-->
<!--                                    <form action="/management/users" id="emailFilterForm"-->
<!--                                          method="GET">-->
<!--                                        <input type="search" class="form-search filter" th:placeholder="#{greenCity.pages.search}"-->
<!--                                               th:name="email"-->
<!--                                               th:value="${fields eq null ? '' : fields.email}">-->
<!--                                        <div class="filter-checkbox">-->
<!--                                            <input type="checkbox" class="filter-checkbox-input">-->
<!--                                            <p class="filter-checkbox-text">save filtering</p>-->
<!--                                        </div>-->
<!--                                        <div class="filter-buttons">-->
<!--                                            <button class="filter-cancel">Cancel</button>-->
<!--                                            <button type="submit" class="filter-apply">Save changes</button>-->
<!--                                        </div>-->
<!--                                    </form>-->
<!--           друга прихована таблиця                     </div>-->
                            </th>
                            <th>  <!--style="width: 288px;"-->

                                    [[#{greenCity.pages.table.credo}]]
                                    <img id="credo-icon" class="sorting" src="/img/arrow-up.svg" alt="arrow-icon" onclick="sortByFieldName('userCredo')">
                                    <span class="table-filter-icon"></span>

<!--                                <div class="name-filter-form">-->
<!--                                    <div class="filter-sorting-buttons">-->
<!--                                        <button class="sort-buttons asc" onclick="byNameFieldAsc('userCredo')">Ascending</button>-->
<!--                                        <button class="sort-buttons" onclick="byNameFieldDesc('userCredo')">Descending</button>-->
<!--                                    </div>-->
<!--                                    <form action="/management/users" id="credoFilterForm"-->
<!--                                          method="GET" >-->
<!--                                        <input type="search" class="form-search filter" th:placeholder="#{greenCity.pages.search}"-->
<!--                                               th:name="userCredo"-->
<!--                                               th:value="${fields eq null ? '' : fields.userCredo}">-->
<!--                                        <div class="filter-checkbox">-->
<!--                                            <input type="checkbox" class="filter-checkbox-input">-->
<!--                                            <p class="filter-checkbox-text">save filtering</p>-->
<!--                                        </div>-->
<!--                                        <div class="filter-buttons">-->
<!--                                            <button class="filter-cancel">Cancel</button>-->
<!--                                            <button type="submit" class="filter-apply">Save changes</button>-->
<!--                                        </div>-->
<!--                                    </form>-->
<!--         третя таблиця                       </div>-->
                            </th>
                            <th style="width: 235px;">
                                [[#{greenCity.pages.table.role}]]
                                <img id="role-icon" class="sorting" src="/img/arrow-up.svg" alt="arrow-icon" onclick="sortByFieldName('role')">
                                <span class="table-filter-icon"></span>
<!--                                <div class="name-filter-form"    style="display: block;">-->
<!--                                    <div class="filter-sorting-buttons">-->
<!--                                        <button class="sort-buttons asc" onclick="byNameFieldAsc('role')">Ascending</button>-->
<!--                                        <button class="sort-buttons" onclick="byNameFieldDesc('role')">Descending</button>-->
<!--                                    </div>-->
<!--                                    <form action="/management/users" id="roleFilterForm"-->
<!--                                          method="GET" >-->
<!--                                        <select class="form-search filter"-->
<!--                                                th:name="role"-->
<!--                                                th:value="${fields eq null ? '' : fields.role}">-->
<!--                                            <option th:text="USER" th:value="0"/>-->
<!--                                            <option th:text="MODERATOR" th:value="2"/>-->
<!--                                            <option th:text="ADMIN" th:value="1"/>-->
<!--                                        </select>-->
<!--                                        <div class="filter-checkbox">-->
<!--                                            <input type="checkbox" class="filter-checkbox-input">-->
<!--                                            <p class="filter-checkbox-text">save filtering</p>-->
<!--                                        </div>-->
<!--                                        <div class="filter-buttons">-->
<!--                                            <button class="filter-cancel">Cancel</button>-->
<!--                                            <button type="submit" class="filter-apply">Save changes</button>-->
<!--                                        </div>-->
<!--                                    </form>-->
<!--        четрверте  видиме                      </div>-->
                            </th>
                            <th style="width: 131px;">
                                [[#{greenCity.pages.table.status}]]
                                <img id="tags-icon" class="sorting" src="/img/arrow-up.svg" alt="arrow-icon" onclick="sortByFieldName('userStatus')">
                                <span class="table-filter-icon"></span>
                            </th>
                            <th>
                                <span>[[#{greenCity.pages.table.actions}]]</span>
                            </th>
                        </tr>
<!--                        Table content-->
                        </thead>
                        <th:block class="list-of" th:each="user, iterStatus :${users.getPage()}">
                            <tr class="clickable-row" th:href="@{/management/users/{id}/friends/(id=${user.id})}">
                                <td>
                                    <span class="custom-checkbox">
                                        <input type="checkbox" th:id="checkbox+${iterStatus.count}"
                                               name="options[]" th:value="${user.id}"
                                               th:onclick="'updateCheckBoxCount('+${iterStatus.count}+')'">
                                        <label th:for="checkbox+${iterStatus.count}"></label>
                                    </span>
                                </td>
                                <td style="width: 50px;">
                                    <a class="id-link" th:text="${user.id}" th:href="@{/management/users/{id} (id=${user.id})}"/>
                                </td>
                                <td th:text="${user.name}"></td>
                                <td th:text="${user.email}"></td>
                                <td class="column-credo-text" th:text="${user.userCredo}"></td>
                                <td class="column-role">
                                    <div class="dropdown role" >
                                        <button class="dropbtn role"  th:text="${user.getRole().toString()}">
                                        </button>
                                        <img class="rotate dropdown-arrow" src="/img/arrow-down.svg" alt="arrow-icon">
                                        <div class="dropdown-content role">
                                            <a
                                                    th:each="role : ${T(greencity.enums.Role).values()}"
                                                    th:if="${!role.equals(user.getRole())}"
                                                    th:text="${role}"
                                                    th:value="${role}"
                                                    th:selected="${role} == ${user.getRole()}"
                                                    th:data-role="${role}"
                                                    th:data-userId="${user.id}"
                                                    onclick="changeRole(this.getAttribute('data-userId'), this.getAttribute('data-role'));"
                                            ></a>
                                        </div>
                                    </div>
                                </td>
                                <td
                                    th:class="|${user.userStatus.name().equals('PENDING') ? 'whiteHover cyan':''}
                                    ${user.userStatus.name().equals('ACTIVATED') ? 'whiteHover lightgreen':''}
                                    ${user.userStatus.name().equals('WARNED') ? 'whiteHover lightmustard':''}
                                    ${user.userStatus.name().equals('PENDING') ? 'whiteHover lightpink':''}
                                    ${user.userStatus.name().equals('DEACTIVATED') ? 'whiteHover lightpink':''}|"
                                >
                                    <div class="dropdown status" >
                                        <button class="dropbtn status"  th:text="${user.userStatus.name().toLowerCase()}">
                                        </button>
                                        <img class="rotate" src="/img/arrow-down.svg" alt="arrow-icon">
                                        <div class="dropdown-content status">
                                            <a
                                               th:each="status : ${T(greencity.enums.UserStatus).values()}"
                                               th:text="${status}"
                                               th:value="${status}"
                                               th:selected="${status} == ${user.getUserStatus()}"
                                            ></a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <a th:if="${user.getId()} != ${currentUser.getId()}"
                                       th:href="'#editUserModal'+${user.getId()}"
                                       id="editUserModalBtn" class="edit eBtn" data-toggle="modal">
                                        <i class="material-icons" data-toggle="tooltip" th:title="#{greenCity.pages.edit}">&#xE254;</i>
                                    </a>
                                    <!--Edit user Modal HTML -->
                                    <div th:id="'editUserModal'+${user.getId()}" class="modal fade">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <form th:id="'editUserForm'+${user.getId()}" class="needs-validation" novalidate>
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Edit User</h4>
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    </div>
                                                    <div class="modal-body" th:id="'editModalBody'+${user.getId()}">
                                                        <div class="form-group">
                                                            <label>ID</label>
                                                            <input th:value="${user.getId()}" type="text" class="form-control" id="id" name="id" readonly required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>User name</label>
                                                            <input th:value="${user.getName()}" type="text"  class="form-control" id="name" name="name" minlength="6" maxlength="30" required>
                                                            <div class="invalid-feedback">
                                                                [[#{greenCity.user.page.name.validation.error}]]
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Email</label>
                                                            <input th:value="${user.getEmail()}" type="email" class="form-control" id="email" name="email" required>
                                                            <div class="invalid-feedback">
                                                                [[#{greenCity.user.page.email.validation.error}]]
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Credo</label>
                                                            <input th:value="${user.getUserCredo()}" type="text" class="form-control" id="userCredo" name="userCredo" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Role</label>
                                                            <select class="form-control" name="role" id="role">
                                                                <option th:each="role : ${T(greencity.enums.Role).values()}"
                                                                        th:value="${role}"
                                                                        th:text="${role}"
                                                                        th:selected="${role} == ${user.getRole()}">
                                                                </option>
                                                            </select>
                                                            <div class="invalid-feedback">
                                                                [[#{greenCity.user.page.role.validation.error}]]
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="userStatus">Status</label>
                                                            <input th:value="${user.getUserStatus().name()}" type="text" class="form-control" id="userStatus" name="userStatus" required readonly>
                                                        </div>
                                                        <div class="form-group">
                                                            <span th:id="serverErrorEditModal+${user.getId()}" class="errorSpan"></span>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <input type="button" class="btn btn-default btn-tertiary" data-dismiss="modal"
                                                               value="Cancel">
                                                        <input type="button" class="btn btn-success btn-primary" th:value="#{greenCity.pages.popup.save.}" th:onclick="'updateUser(' + ${user.getId()} + ');'" id="submitEditBtn">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </th:block>
                    </table>
                    <!-- Start of Paging -->
<!--                    <div class="clearfix" th:if="${users.getPage().size() ne 0}">-->
<!--                        <ul class="pagination">-->
<!--                            <li class="page-item"-->
<!--                                th:classappend="${!users.isFirst()} ? '' : 'disabled'">-->
<!--                                <a class="page-link" rel="tooltip" th:if="${!users.isFirst()}"-->
<!--                                   th:href="@{/management/users?page={id}&size={pageSize}&sort={sort}(id=${0}, sort=${sortModel}, pageSize=${pageSize})}"><i-->
<!--                                        class="arrow fas fa-chevron-left"></i></a>-->
<!--                                <a class="page-link" rel="tooltip" th:if="${users.isFirst()}">-->
<!--                                    <i-->
<!--                                        class="arrow fas fa-chevron-left"></i></a>-->
<!--                            </li>-->

<!--                            <li class="page-item"-->
<!--                                th:if="${pageNumber > -1 && pageNumber < users.getTotalPages()}"-->
<!--                                th:classappend="${pageNumber == users.getNumber()} ? 'active' : ''"-->
<!--                                th:each="pageNumber : ${#numbers.sequence(users.getNumber()-3, users.getNumber()+3)}">-->
<!--                                <a class="page-link"-->
<!--                           th:href="@{/management/users?page={id}&size={pageSize}&sort={sort}(id=${pageNumber},sort=${sortModel}, pageSize=${pageSize})}">[[${pageNumber}+1]]</a>-->
<!--                            </li>-->

<!--                            <li class="page-item"-->
<!--                                th:classappend="${!users.isLast()} ? '' : 'disabled'">-->
<!--                                <a class="page-link" rel="tooltip" th:if="${!users.isLast()}"-->
<!--                                   th:href="@{/management/users?page={id}(id=${users.getTotalPages()-1})}"><i-->
<!--                                        class="arrow fas fa-chevron-right"></i></a>-->
<!--                                <a class="page-link" rel="tooltip" th:if="${users.isLast()}"><i-->
<!--                                        class="arrow fas fa-chevron-right"></i></a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
                    <!-- End of Paging -->
                    <!-- Deactivate user Modal HTML -->
                    <div id="deactivateUserModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form id="deactivateUserForm">
                                    <div class="modal-header">
                                        <h4 class="modal-title-deac">[[#{greenCity.user.page.popup.deactivated.h}]]</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p class="deactivate-warning">[[#{greenCity.user.page.popup.deactivated.p1}]]</p>
                                        <div class="modal-reasons">
                                            <input type="checkbox" id="first-click" class="deactivate-checkbox">
                                            <p class="deactivation-reasons">[[#{greenCity.user.page.popup.deactivated.fieldset.input}]]</p><br>
                                        </div>
                                        <div class="modal-reasons">
                                            <input type="checkbox" id="second-click" class="deactivate-checkbox">
                                            <p class="deactivation-reasons">[[#{greenCity.user.page.popup.deactivated.fieldset.input1}]]</p><br>
                                        </div>
                                        <div class="modal-reasons">
                                            <input type="checkbox" id="other" onclick="otherCheck()" class="deactivate-checkbox">
                                            <p class="deactivation-reasons">[[#{greenCity.user.page.popup.deactivated.fieldset.input2}]]</p><br>
                                        </div>
                                        <div id="user-lang" style="display: none">
                                        </div>
                                        <input type="text" id="othertext" style="display: none" class="custom-reason">
                                        <span th:id="errorDeactivateUser" class="errorSpan"></span>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="button" class="btn btn-default btn-tertiary" data-dismiss="modal"
                                               th:value="#{greenCity.pages.popup.cancel.}">
                                        <a href="" id="deactivateOneSubmit" class="btn btn-remove" disabled="true">
                                            <div>[[#{greenCity.user.page.deactivated}]]</div>
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Activate user Modal HTML -->
                    <div id="activateUserModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!--<form id="activateUserForm">-->
                                <div class="modal-header">
                                    <h4 class="modal-title-act">[[#{greenCity.user.page.popup.activated.h}]]</h4>
                                </div>
                                <div class="modal-body">
                                    <p class="modal-body-act">[[#{greenCity.user.page.popup.activated.p1}]]</p>
                                    <p class="modal-body-act1">[[#{greenCity.user.page.popup.activated.p1.was}]]</p>
                                </div>
                                <div id="reasons">
                                </div>
                                <div class="modal-footer">
                                    <input type="button" class="btn btn-default btn-tertiary" data-dismiss="modal"
                                           th:value="#{greenCity.pages.popup.cancel.}">
                                    <a href="" id="activateOneSubmit" class="btn btn-success btn-primary">
                                        <div>[[#{greenCity.user.page.popup.activated.div}]]</div>
                                    </a>
                                </div>
                                <!--</form>-->
                            </div>
                        </div>
                    </div>
                    <!-- Deactivate all selected users Modal HTML -->
                    <div id="deactivateAllSelectedModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form id="">
                                    <div class="modal-header">
                                        <h4 class="modal-title-deac">[[#{greenCity.pages.popup.delete.all.h}]]</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <p>[[#{greenCity.pages.popup.delete.all.h1}]]</p>
                                        <p class="text-warning"><small>[[#{greenCity.pages.popup.delete.all.h2}]]</small></p>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="button" class="wbtn btn-default btn-tertiary" data-dismiss="modal"
                                               th:value="#{greenCity.pages.popup.cancel.}">
                                        <a href="" id="deactivateAllSubmit" class="btn btn-remove" style="margin-top: 25px;">
                                            <div>[[#{greenCity.user.page.deactivated}]]</div>
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- User's friends Modal HTML -->
                    <div id="userFriendsModal" class="modal fade">
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <h4 class="modal-title">User's Friends</h4>
                                <div class="modal-body">
                                    <table class="table table-hover" id="friendsTable">
                                        <thead>
                                        <tr class="table-primary">
                                            <th>ID</th>
                                            <th>Username</th>
                                            <th>Email</th>
                                            <th>Credo</th>
                                            <th>Role</th>
                                            <th>Status</th>
                                        </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" th:insert="core/footer"></div>
</div>
</body>
</html>