<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenCity</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/econew.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/position.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800&display=swap&subset=cyrillic"
          rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/management/css/table_Modal_Pagination.css}">
    <script th:src="@{/management/localization/buttonsAJAX.js}"></script>
    <!--    <script th:src="@{/management/user/buttonsAJAX.js}"></script>-->
    <script th:src="@{/management/user/jquery.liTextLength.js}"></script>
    <script th:src="@{/management/econews/buttonsAJAX.js}"></script>
</head>
<body>
<div id="header" th:insert="core/header"></div>
<div id="sidebar" th:insert="core/sidepanel"></div>
<div class="main-content">
    <div class="container-xl">
        <div class="container">
            <div class="top-elements">
                <div class="back-button">
                    <a class="button-link" href="/management/eco-news">
                        <div class="button-content">
                            <div class="button-arrow">
                                <img aria-hidden="true" alt="arrow" class="button-arrow-img" src="/img/arrow_left.svg">
                            </div>
                            <div class="button-text">[[#{greenCity.pages.table.back}]]</div>
                        </div>
                    </a>
                </div>
                <div class="button-edit">
                    <div class="button-text id">№[[${econew.id}]]</div>
                    <a href="#editEcoNewsModal" editEcoNewsForm id="editEcoNewsModalBtn"
                       data-toggle="modal" th:onclick="editBtnDisabled()">
                        <img src="/img/habit_advices_dark.png">
                    </a>
                </div>
            </div>
            <div class="tags">
                <div class="tags-item ng-star-inserted" th:each="tag, iterStatus :${econew.tags}"
                     th:text="${tag}"></div>
            </div>
            <div class="news-content">
                <div class="news-title-container">
                    <div class="news-title word-wrap">
                        <p>[[${econew.title}]]</p>
                    </div>
                </div>
                <div class="news-info">
                    <div class="news-info-date">[[${time}]]</div>
                    <div class="news-info-dot">
                        <img alt="dot" src="/img/ellipse.svg">
                    </div>
                    <div class="news-info-author">[[${econew.author.getName()}]]</div>
                    <div class="like_wr">
                        <img alt="like" class="news_like ng-star-inserted" src="/img/like.png">
                        <span class="numerosity_likes">[[${econew.likes}]]</span>
                    </div>
                </div>
                <div th:if="${econew.imagePath ne null}">
                    <img alt="news-image" class="news-image-img" th:src="${econew.imagePath}">
                </div>
                <div th:if="${econew.imagePath eq null}">
                    <img alt="news-image" class="news-image-img" src="/img/eco-news-default-large.png">
                </div>
                <div class="news-text-container">
                    <div class="news-links-images">
                        <a><img alt="twitter" class="news-links-img" src="/img/twitter-icon.svg"></a>
                        <a><img alt="linkedin" class="news-links-img" src="/img/linkedin-icon.svg"></a>
                        <a><img alt="facebook" class="news-links-img last-img" src="/img/facebook-icon.svg"></a>
                    </div>
                    <div class="news-text">
                        <div class="news-text-content word-wrap ql-snow">
                            <div class="ql-editor">
                                <p>[[${econew.content}]]</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="counter ng-star-inserted">
                <div class="wrapper">
                    <p>[[#{greenCity.econews.page.comments}]]</p>
                    <p> [[${econew.countComments}]] <span
                            class="ng-star-inserted">[[#{greenCity.econews.page.comment}]] </span></p>
                </div>
                <hr>
            </div>
        </div>

        <!-- Edit Modal HTML -->
        <div id="editEcoNewsModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="editEcoNewsForm">
                        <div class="modal-header">
                            <h4 class="modal-title">[[#{greenCity.econews.page.edit.eco.news}]]</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="id">[[#{greenCity.pages.table.id}]]</label>
                                <input type="text" class="form-control" id="id" name="id" th:value="${econew.id}"
                                       readonly required>
                                <span th:id="errorModalUpdateid" class="errorSpan"></span>
                            </div>
                            <div class="form-group">
                                <label for="title">[[#{greenCity.pages.table.title}]]</label>
                                <textarea type="text" class="form-control" id="title" name="title" required>[[${econew.title}]]</textarea>
                                <span th:id="errorModalUpdatetitle" class="errorSpan"></span>
                            </div>
                            <div class="form-group">
                                <label for="text">[[#{greenCity.pages.table.text}]]</label>
                                <textarea type="text" class="form-control" id="text" name="text" required>[[${econew.content}]]</textarea>
                                <span th:id="errorModalUpdatetext" class="errorSpan"></span>
                            </div>
                            <div class="form-group">
                                <label for="tagsEdit">[[#{greenCity.pages.table.tags}]]</label>
                                <div id="tagsEdit" style="width: 100%; display: inline-block;">
                                    <th:block th:each="allTags, iterStatus :${ecoNewsTag}">
                                        <div style="margin-right: 5%" class="custom-checkbox">
                                            <span class="modal-checkbox">
                                                <input class="tag-checkbox" type="checkbox"
                                                       th:id="checkboxTag+${iterStatus.count}" id="checkboxTag1"
                                                       name="EditTags[]" th:value="${allTags.getName()}"
                                                       th:onclick="tagEditClick()">
                                                <label th:for="checkboxTag+${iterStatus.count}"
                                                       th:text="${allTags.getName()}" for="checkboxTag1"></label>
                                            </span>
                                        </div>
                                    </th:block>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="source">[[#{greenCity.pages.table.source}]]</label>
                                <textarea type="text" class="form-control" id="source" name="source">[[${econew.shortInfo}]]</textarea>
                                <span th:id="errorModalUpdatesource" class="errorSpan"></span>
                            </div>
                            <div class="form-group" style="justify-content: center">
                                <img id="upload_image">
                                <label for="fileUpdate">[[#{greenCity.pages.table.image}]]</label>
                                <input type="file" class="form-control" id="fileUpdate" name="file"
                                       enctype="multipart/form-data"
                                       accept="image/png, image/jpg, image/jpeg, .png, .jpg, .jpeg"
                                       onchange="loadFile()">
                                <span th:id="errorModalUpdate" class="errorSpan"></span>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default btn-tertiary" data-dismiss="modal"
                                   th:value="#{greenCity.pages.popup.cancel.}">
                            <input type="submit" class="btn btn-info btn-primary"
                                   th:value="#{greenCity.pages.popup.save.}"
                                   id="submitEditBtn">
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <div id="footer" th:insert="core/footer"></div>
</div>

</body>

</html>