<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Place management</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/position.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800&display=swap&subset=cyrillic"
          rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/management/css/table_Modal_Pagination.css}">
    <script th:src="@{/management/places/buttonsAJAX.js}"></script>
    <script th:src="@{/management/localization/buttonsAJAX.js}"></script>
    <style>
        .displayNone {
            display: none;
        }

        table {
            table-layout: auto;
        }
    </style>
</head>
<body>
<div id="header" th:insert="core/header"></div>
<div id="sidebar" th:insert="core/sidepanel"></div>
<div class="main-content">
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>[[#{greenCity.places.page.h}]]</h2>
                        </div>
                        <div class="col-sm-6">
                                <span class="search-box-right">
                                    <form class="form-inline searching" action="/management/places" method="get">
                                        <i class="material-icons"></i>
                                        <input type="text" name="query" class="form-control" placeholder="Search…">
                                    </form>
                                </span>
                            <a href="#addPlaceModal" id="addPlaceModalBtn" class="btn btn-success"
                               data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>[[#{greenCity.places.page.add.place}]]</span></a>
                            <a href="#deleteAllSelectedModal" class="btn btn-danger" data-toggle="modal"><i
                                    class="material-icons">&#xE15C;</i> <span>[[#{greenCity.pages.delete}]]</span></a>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr class="table-primary">
                        <th>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="selectAll">
                                    <label for="selectAll"></label>
                                </span>
                        </th>
                        <th>[[#{greenCity.pages.table.id}]]</th>
                        <th>[[#{greenCity.pages.table.name}]]</th>
                        <th>[[#{greenCity.pages.table.status}]]</th>
                        <th>[[#{greenCity.pages.table.opening.hours}]]</th>
                        <th>[[#{greenCity.pages.table.actions}]]</th>
                    </tr>
                    </thead>
                    <th:block th:each="place, iterStatus :${pageable.getPage()}">
                        <tbody>
                        <tr>
                            <td>
                                    <span class="custom-checkbox">
                                        <input type="checkbox" th:id="checkbox+${iterStatus.count}"
                                               th:disabled="${place.getStatus().toString().equals('DELETED')}"
                                               id="checkbox1"
                                               name="options[]" th:value="${place.getId()}">
                                        <label th:for="checkbox+${iterStatus.count}" for="checkbox1"></label>
                                    </span>
                            </td>
                            <td th:text="${place.getId()}"></td>
                            <td th:text="${place.getName()}"></td>
                            <td th:text="${place.getStatus()}"></td>
                            <td>
                                <table class="table table-borderless m-0">
                                    <thead>
                                    <tr class="table-secondary">
                                        <th class="py-1">[[#{greenCity.pages.table.week.day}]]</th>
                                        <th class="py-1">[[#{greenCity.pages.table.open.time}]]</th>
                                        <th class="py-1">[[#{greenCity.pages.table.close.time}]]</th>
                                        <th class="py-1">[[#{greenCity.pages.table.break.start}]]</th>
                                        <th class="py-1">[[#{greenCity.pages.table.break.end}]]</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block
                                            th:each="openingHours :${#lists.sort(place.getOpeningHoursList())}">
                                        <tr>
                                            <td class="py-1 text-right" th:text="${openingHours.getWeekDay()}">1</td>
                                            <td class="py-1" th:text="${openingHours.getOpenTime()}"></td>
                                            <td class="py-1" th:text="${openingHours.getCloseTime()}"></td>
                                            <td class="py-1"
                                                th:text="${openingHours.getBreakTime()?.getStartTime()}"></td>
                                            <td class="py-1"
                                                th:text="${openingHours.getBreakTime()?.getEndTime()}"></td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </td>
                            <td>

                                <a th:if="${!place.getStatus().toString().equals('DELETED')}"
                                   th:href="@{/management/places/find(id=${place.getId()})}" class="edit eBtn"><i
                                        class="material-icons" data-toggle="tooltip" th:title="#{greenCity.pages.edit}">&#xE254;</i></a>
                                <a th:if="${!place.getStatus().toString().equals('DELETED')}"
                                   th:href="@{/management/places(id=${place.getId()})}" class="delete eDelBtn"
                                   data-toggle="modal"><i class="material-icons" data-toggle="tooltip"
                                                          th:title="#{greenCity.pages.delete}">&#xE872;</i></a>
                            </td>
                        </tr>
                        </tbody>
                    </th:block>
                </table>
                <div class="clearfix">
                    <div class="hint-text">[[#{greenCity.page.paging.show}]] <b
                            th:text="${pageable.getTotalElements()>20?20:pageable.getTotalElements()}">5</b>
                        [[#{greenCity.page.paging.out.of}]] <b
                                th:text="${pageable.getTotalElements()}">25</b> [[#{greenCity.page.paging.entries}]]
                    </div>
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${pageable.getCurrentPage()==0?'disabled':''}"><a
                                th:href="@{(page=${pageable.getCurrentPage()-1})}" class="page-link">[[#{greenCity.page.paging.previous}]]</a>
                        </li>
                        <li class="page-item" th:each="i : ${#numbers.sequence(0,pageable.getTotalPages()-1)}"
                            th:classappend="${pageable.getCurrentPage()==i?'active':''}"><a
                                th:href="@{/management/places(page=${i})}" class="page-link" th:text="${i+1}">1</a></li>
                        <li class="page-item"
                            th:classappend="${pageable.getCurrentPage()==pageable.getTotalPages()-1?'disabled':''}"><a
                                th:href="@{(page=${pageable.getCurrentPage()+1})}"
                                class="page-link">[[#{greenCity.page.paging.next}]]</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Modal HTML -->
    <div id="addPlaceModal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form th:action="@{places}" method="post" id="addPlaceForm">
                    <div class="modal-header">
                        <h4 class="modal-title">[[#{greenCity.places.page.add.place}]]</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <input style="display: none" name="id" id="id">
                    <div name="map" id="map"></div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>[[#{greenCity.pages.table.address}]]</label>
                            <input type="hidden" name="latitude" value="2.5" id="latitude"/>
                            <input type="hidden" name="longitude" value="2.5" id="longitude"/>
                            <input type="text" class="form-control" id='address' name="address">
                            <span th:id="errorModalSavelocation.address" class="errorSpan"></span>
                        </div>
                        <div class="form-group">
                            <label>[[#{greenCity.pages.table.place.name}]]</label>
                            <input type="text" class="form-control" id="placeName" name="name">
                            <span th:id="errorModalSavename" class="errorSpan"></span>
                        </div>
                        <div class="form-group">
                            <label>[[#{greenCity.pages.table.status}]]</label>
                            <input type="text" class="form-control" name="status" value="APPROVED" readonly required>
                        </div>
                        <div class="form-group">
                            <label>[[#{greenCity.pages.table.category}]]</label>
                            <select class="form-control" name="category" id="category">
                                <option selected="selected" id="empty-category"></option>
                                <th:block th:each="category : ${categoryList}">
                                    <tr>
                                        <option>
                                            <td th:text="${category.getName()}"></td>
                                        </option>
                                    </tr>
                                </th:block>
                            </select>
                            <span th:id="errorModalSavecategory.name" class="errorSpan"></span>
                        </div>

                        <div class="form-group">
                            <label>[[#{greenCity.pages.table.opening.hours}]]</label>
                            <div th:each="day: ${#strings.arraySplit('MONDAY,TUESDAY,WEDNESDAY,THURSDAY,FRIDAY,SATURDAY,SUNDAY',',')}">
                                <div class="form-row">
                                    <div class="form-group col-md-3 week-day">
                                        <input class="form-check-input" th:id="${day}" type="checkbox" name="day">
                                        <label class="form-check-label">
                                            <span th:text="${day}"></span>
                                        </label>
                                    </div>
                                    <div class="form-group col-md-4 work-hours">
                                        <div class="form-row">
                                            <div class="form-group col-6">
                                                <label>[[#{greenCity.pages.table.start.time}]]</label>
                                                <input type="time" class="form-control-sm" name="openTime">
                                            </div>
                                            <div class="form-group col-6">
                                                <label>[[#{greenCity.pages.table.end.time}]]</label>
                                                <input type="time" class="form-control-sm" name="closeTime">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-5 break-time">
                                        <button class="btn btn-success btn-sm add-break">
                                            [[#{greenCity.pages.table.add.break.hourse}]]
                                        </button>
                                        <div class="form-row break-hours displayNone">
                                            <div class="form-group">
                                                <div class="form-row">
                                                    <div class="form-group col-5">
                                                        <label>[[#{greenCity.pages.table.break.start.p}]]</label>
                                                        <input type="time" class="form-control-sm" name="startTime">
                                                    </div>
                                                    <div class="form-group col-5">
                                                        <label>[[#{greenCity.pages.table.break.end.p}]]</label>
                                                        <input type="time" class="form-control-sm" name="endTime">
                                                    </div>
                                                    <div class="=col-2">
                                                        <i class="material-icons removeBreak" data-toggle="tooltip"
                                                           th:title="#{greenCity.pages.table.delete.break.title}">&#xE872;</i>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span th:id="errorModalSaveopeningHoursList" class="errorSpan"></span>
                        </div>
                        <div class="form-group">
                            <div id="discounts"></div>
                            <button class="btn btn-info" id="addDiscount">
                                [[#{greenCity.pages.table.delete.add.discount}]]
                            </button>
                        </div>
                        <div class="form-group">
                            <label>[[#{greenCity.pages.table.photo}]]</label>
                            <input type="file" class="form-control" name="photo" id="creationFile">
                            <span th:id="errorModalSavefile" class="errorSpan"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal"
                               th:value="#{greenCity.pages.popup.cancel.}">
                        <input type="submit" class="btn btn-success" th:value="#{greenCity.pages.popup.add.}"
                               id="submitAddBtn">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Delete Modal HTML -->
    <div id="deletePlaceModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="deletePlaceForm">
                    <div class="modal-header">
                        <h4 class="modal-title">[[#{greenCity.places.page.delete}]]</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>[[#{greenCity.pages.popup.delete.h2}]]</p>
                        <p class="text-warning"><small>[[#{greenCity.pages.popup.delete.all.h2}]]</small></p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal"
                               th:value="#{greenCity.pages.popup.cancel.}">
                        <a href="" id="deleteOneSubmit" class="btn btn-danger">[[#{greenCity.pages.delete}]]</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Delete all selected Modal HTML -->
    <div id="deleteAllSelectedModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="">
                    <div class="modal-header">
                        <h4 class="modal-title">[[#{greenCity.pages.popup.delete.all.h}]]</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>[[#{greenCity.pages.popup.delete.all.h1}]]</p>
                        <p class="text-warning"><small>[[#{greenCity.pages.popup.delete.all.h2}]]</small></p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal"
                               th:value="#{greenCity.pages.popup.cancel.}">
                        <a href="" id="deleteAllSubmit" class="btn btn-danger">[[#{greenCity.pages.delete}]]</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="footer" th:insert="core/footer"></div>

<style>
    #map {
        height: 350px;
        width: 100%;
    }
</style>

<script defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3xs7Kczo46LFcQRFKPMdrE0lU4qsR_S4&callback=initMap">
</script>
<script th:inline="javascript">
    let discountSpecifications = /*[[${discountSpecifications}]]*/ [];
</script>
</body>
</html>