<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Habit facts management</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/position.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800&display=swap&subset=cyrillic"
          rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/management/css/table_Modal_Pagination.css}">
    <script th:src="@{/management/habitfacts/buttonsAJAX.js}"></script>
    <script th:src="@{/management/localization/buttonsAJAX.js}"></script>
</head>
<body>
<div id="header" th:insert="core/header"></div>
<div id="sidebar" th:insert="core/sidepanel"></div>
<div class="main-content">
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>[[#{greenCity.habit.facts.page.h}]]</h2>
                        </div>
                        <div class="col-sm-6">
                                <span class="search-box-right">
                                    <form class="form-inline searching" action="/management/facts" method="get">
                                        <!--<i class="material-icons"></i>-->
                                        <img alt="search" id="btnSearchImage"
                                             src="/img/search.png">
                                        <input type="text" name="query" id="inputSearch" class="form-control"
                                               placeholder="Search…">
                                    </form>
                                </span>
                            <a href="#addHabitFactsModal" id="addHabitFactsModalBtn" class="btn btn-secondary"
                               data-toggle="modal">
                                <!--<i class="material-icons">&#xE147;</i>-->
                                <div>[[#{greenCity.habit.facts.page.add.habit.facts}]]</div>
                            </a>
                            <a href="#deleteAllSelectedModal" class="btn btn-remove disabled" data-toggle="modal"
                               id="btnDelete">
                                <!--<i class="material-icons">&#xE15C;</i>-->
                                <div>[[#{greenCity.pages.delete}]]</div>
                            </a>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr class="table-primary">
                        <th>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="selectAll">
                                    <label for="selectAll"></label>
                                </span>
                        </th>
                        <th style="width: 5%">[[#{greenCity.pages.table.id}]]</th>
                        <th style="width: 5%">[[#{greenCity.pages.table.habit.id}]]</th>
                        <th style="width: 80%">[[#{greenCity.pages.table.translations}]]</th>
                        <th style="width: 10%">[[#{greenCity.pages.table.actions}]]</th>
                    </tr>
                    </thead>

                    <form method="POST" action="/management/facts/filter" id="searchForm">

                        <tr>
                            <td>

                            </td>
                            <td>
                                <input type="search" th:name="id" placeholder="Search"
                                       th:value="${fields eq null ? '' : fields.id }"/>
                            </td>
                            <td>
                                <input type="search" th:name="habitId" placeholder="Search"
                                       th:value="${fields eq null ? '' : fields.habitId }"/>
                            </td>
                            <td>
                                <input type="search" th:name="content" placeholder="Search"
                                       th:value="${fields eq null ? '' : fields.content }"/>
                            </td>
                            <td colspan="2">
                                <button type="submit" id="searchBy"><img alt="search"
                                                                         src="/img/search.png"></button>
                            </td>

                        </tr>

                    </form>

                    <th:block th:each="habitFacts, iterStatus :${pageable.getPage()}">
                        <tbody>
                        <tr>
                            <td>
                                <span class="custom-checkbox">
                                        <input type="checkbox" th:id="checkbox+${iterStatus.count}" id="checkbox1"
                                               name="options[]" th:value="${habitFacts.getId()}"
                                               th:onclick="'updateCheckBoxCount('+${iterStatus.count}+')'">
                                        <label th:for="checkbox+${iterStatus.count}" for="checkbox1"></label>
                                </span>
                            </td>
                            <td th:text="${habitFacts.getId()}"></td>
                            <td th:text="${habitFacts.getHabit().getId()}"></td>
                            <td>
                                <table class="table table-borderless m-0">
                                    <thead>
                                    <tr class="table-secondary">
                                        <th class="py-1" style="width: 10%">
                                            [[#{greenCity.pages.table.translation.id}]]
                                        </th>
                                        <th class="py-1" style="width: 70%">[[#{greenCity.pages.table.content}]]</th>
                                        <th class="py-1" style="width: 5%">[[#{greenCity.pages.table.language.code}]]
                                        </th>
                                        <th class="py-1" style="width: 15%">
                                            [[#{greenCity.pages.table.fact.of.day.status}]]
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block
                                            th:each="translation : ${habitFacts.getTranslations()}">
                                        <tr>
                                            <td class="py-1" th:text="${translation.getId()}"></td>
                                            <td class="py-1" th:text="${translation.getContent()}"></td>
                                            <td class="py-1" th:text="${translation.getLanguage().getCode()}"></td>
                                            <td class="py-1" th:text="${translation.getFactOfDayStatus()}"></td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <a th:href="@{/management/facts/find/{id}(id=${habitFacts.getId()})}" class="edit eBtn"><i
                                        class="material-icons" data-toggle="tooltip" th:title="#{greenCity.pages.edit}">&#xE254;</i></a>
                                <a th:href="@{/management/facts/{id}(id=${habitFacts.getId()})}" class="delete eDelBtn"
                                   data-toggle="modal"><i class="material-icons" data-toggle="tooltip"
                                                          th:title="#{greenCity.pages.delete}">&#xE872;</i></a>
                            </td>
                        </tr>
                        </tbody>
                    </th:block>
                </table>
                <div class="clearfix">
                    <div class="hint-text">[[#{greenCity.page.paging.show}]] <b
                            th:text="${pageable.getTotalElements()>20?20:pageable.getTotalElements()}">5</b>
                        [[#{greenCity.page.paging.out.of}]] <b
                                th:text="${pageable.getTotalElements()}">25</b> [[#{greenCity.page.paging.entries}]]
                    </div>
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${pageable.getCurrentPage()==0?'disabled':''}"><a
                                th:href="@{facts(page=${pageable.getCurrentPage()-1})}" class="page-link">[[#{greenCity.page.paging.previous}]]</a>
                        </li>
                        <li class="page-item" th:each="i : ${#numbers.sequence(0,pageable.getTotalPages()-1)}"
                            th:classappend="${pageable.getCurrentPage()==i?'active':''}"><a
                                th:href="@{facts(page=${i})}" class="page-link" th:text="${i+1}">1</a></li>
                        <li class="page-item"
                            th:classappend="${pageable.getCurrentPage()==pageable.getTotalPages()-1?'disabled':''}"><a
                                th:href="@{facts(page=${pageable.getCurrentPage()+1})}"
                                class="page-link">[[#{greenCity.page.paging.next}]]</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Modal HTML -->
    <div id="addHabitFactsModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" id="addHabitFactsForm">
                    <div class="modal-header">
                        <h4 class="modal-title">[[#{greenCity.habit.facts.page.add.habit.facts}]]</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>[[#{greenCity.pages.table.habit.id}]]</label>
                            <input type="text" class="form-control" name="habit_id" required>
                            <span class="errorSpan" th:id="errorModalSavehabit.id"></span>
                        </div>
                        <th:block th:each="language, iterInfo : ${languages}">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>[[#{greenCity.pages.popup.language.code}]]</label>
                                        <input type="text" class="form-control" th:name="${language.getCode()}"
                                               th:value="${language.getCode()}" readonly required>
                                    </div>
                                </div>
                                <input type="hidden" class="form-control" th:id="id+${language.getCode()}"
                                       th:name="id+${language.getCode()}" th:value="${language.getId()}">
                                <div class="col-9">
                                    <div class="form-group">
                                        <label>[[#{greenCity.pages.table.content}]]</label>
                                        <input type="text" class="form-control eEdit"
                                               th:name="content+${language.getCode()}">
                                        <span class="errorSpan"
                                              th:id="'errorModalSavetranslations['+${iterInfo.index}+'].content'"></span>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default btn-tertiary" data-dismiss="modal"
                               th:value="#{greenCity.pages.popup.cancel.}">
                        <input type="submit" class="btn btn-success btn-primary"
                               th:value="#{greenCity.pages.popup.add.}" id="submitAddBtn">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Edit Modal HTML -->
    <div id="editHabitFactsModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="editHabitFactsForm">
                    <div class="modal-header">
                        <h4 class="modal-title">[[#{greenCity.habit.facts.page.edit.habit.facts}]]</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>[[#{greenCity.pages.table.id}]]</label>
                            <input type="text" class="form-control" id="id" name="id" readonly required>
                            <span th:id="errorModalUpdateId" class="errorSpan"></span>
                        </div>
                        <div class="form-group">
                            <label>[[#{greenCity.pages.table.habit.id}]]</label>
                            <input type="text" class="form-control" id="habit_id" name="habit_id" required>
                            <span class="errorSpan" th:id="errorModalUpdatehabit.id"></span>
                        </div>
                        <th:block th:each="language, iterInfo : ${languages}">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>[[#{greenCity.pages.popup.language.code}]]</label>
                                        <input type="text" class="form-control" th:id="${language.getCode()}"
                                               th:name="${language.getCode()}" th:value="${language.getCode()}" readonly
                                               required>
                                    </div>
                                    <input type="hidden" class="form-control" th:id="id+${language.getCode()}"
                                           th:name="id+${language.getCode()}">
                                </div>
                                <div class="col-9">
                                    <div class="form-group">
                                        <label>[[#{greenCity.pages.table.content}]]</label>
                                        <input type="text" class="form-control eEdit"
                                               th:id="content+${language.getCode()}"
                                               th:name="content+${language.getCode()}">
                                        <span class="errorSpan"
                                              th:id="'errorModalUpdatetranslations['+${iterInfo.index}+'].content'"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>[[#{greenCity.pages.table.role}]]</label>
                                <input type="text" class="form-control" th:id="status+${language.getCode()}"
                                       th:name="status+${language.getCode()}" required>
                            </div>
                        </th:block>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default btn-tertiary" data-dismiss="modal"
                               th:value="#{greenCity.pages.popup.cancel.}">
                        <input type="submit" class="btn btn-success btn-primary"
                               th:value="#{greenCity.pages.popup.save.}" id="submitEditBtn">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Delete Modal HTML -->
    <div id="deleteHabitFactsModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="deleteHabitFactsForm">
                    <div class="modal-header">
                        <h4 class="modal-title">[[#{greenCity.habit.facts.page.delete.habit.facts}]]</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>[[#{greenCity.pages.popup.delete.h2}]]</p>
                        <p class="text-warning"><small>[[#{greenCity.pages.popup.delete.all.h2}]]</small></p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default btn-tertiary" data-dismiss="modal"
                               th:value="#{greenCity.pages.popup.cancel.}">
                        <a href="" id="deleteOneSubmit" class="btn btn-remove">
                            <div>[[#{greenCity.pages.delete}]]</div>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Delete all selected Modal HTML -->
    <div id="deleteAllSelectedModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="">
                    <div class="modal-header">
                        <h4 class="modal-title">[[#{greenCity.pages.popup.delete.all.h}]]</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>[[#{greenCity.pages.popup.delete.all.h1}]]</p>
                        <p class="text-warning"><small>[[#{greenCity.pages.popup.delete.all.h2}]]</small></p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default btn-tertiary" data-dismiss="modal"
                               th:value="#{greenCity.pages.popup.cancel.}">
                        <a href="" id="deleteAllSubmit" class="btn btn-remove">
                            <div>[[#{greenCity.pages.delete}]]</div>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="footer" th:insert="core/footer"></div>
</body>
</html>
