<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Achievement management</title>
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet"/>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" rel="stylesheet"/>
    <link href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800&display=swap&subset=cyrillic"
          rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/management/css/table_Modal_Pagination.css}">
    <script th:src="@{/management/achievements/buttonsAJAX.js}"></script>
    <script th:src="@{/management/localization/buttonsAJAX.js}"></script>
    <script defer type="text/javascript" th:src="@{/management/sidebar/sidebar.js}"></script>
</head>
<body th:with="baseUrl='/management/achievement'" th:data-base-url="${baseUrl}">
<div id="header" th:insert="~{core/header}"></div>
<div class="main-content">
    <div id="sidebar" th:insert="~{core/sidepanel}"></div>
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>[[#{greenCity.achievement.page.h}]]</h2>
                        </div>
                        <div class="col-sm-6">
                                <span class="search-box-right">
                                    <form action="/management/achievement" class="form-inline searching" method="get">
                                        <img alt="search" id="btnSearchImage"
                                             src="/img/search.png">
                                        <input type="text" name="query" id="inputSearch" class="form-control"
                                               th:value="${query}" th:placeholder="#{greenCity.pages.search}">
                                    </form>
                                </span>
                            <a class="btn btn-secondary" data-toggle="modal" href="#addAchievementModal"
                               id="addAchievementModalBtn">
                                <div>[[#{greenCity.achievement.page.add.achievement}]]</div>
                            </a>
                            <a href="#deleteAllSelectedModal" id="btnDelete" class="btn btn-remove disabled"
                               data-toggle="modal">
                                <div>[[#{greenCity.pages.delete}]]</div>
                            </a>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="selectAll">
                                <label for="selectAll"></label>
                            </span>
                        </th>
                        <th>[[#{greenCity.pages.table.id}]]
                            <span onclick="orderByField('id','asc')">
                                <i id="id-icon-asc" class="material-icons" data-toggle="tooltip"
                                   th:title="#{greenCity.pages.table.ascending}">&#xE5D8;</i>
                            </span>
                            <span onclick="orderByField('id','desc')">
                                <i id="id-icon-desc" class="material-icons" data-toggle="tooltip"
                                   th:title="#{greenCity.pages.table.descending}">&#xE5DB;</i>
                            </span>
                        </th>
                        <th>[[#{greenCity.pages.table.title}]]
                            <span onclick="orderByField('title','asc')">
                                <i id="title-icon-asc" class="material-icons" data-toggle="tooltip"
                                   th:title="#{greenCity.pages.table.ascending}">&#xE5D8;</i>
                            </span>
                            <span onclick="orderByField('title','desc')">
                                <i id="title-icon-desc" class="material-icons" data-toggle="tooltip"
                                   th:title="#{greenCity.pages.table.descending}">&#xE5DB;</i>
                            </span>
                        </th>
                        <th>[[#{greenCity.pages.table.name}]]
                            <span onclick="orderByField('name','asc')">
                                <i id="name-icon-asc" class="material-icons" data-toggle="tooltip"
                                   th:title="#{greenCity.pages.table.ascending}">&#xE5D8;</i>
                            </span>
                            <span onclick="orderByField('name','desc')">
                                <i id="name-icon-desc" class="material-icons" data-toggle="tooltip"
                                   th:title="#{greenCity.pages.table.descending}">&#xE5DB;</i>
                            </span>
                        </th>
                        <th>[[#{greenCity.pages.table.achievement.category}]]
                            <span onclick="orderByField('achievementCategory.name','asc')">
                                <i id="category-icon-asc" class="material-icons" data-toggle="tooltip"
                                   th:title="#{greenCity.pages.table.ascending}">&#xE5D8;</i>
                            </span>
                            <span onclick="orderByField('achievementCategory.name','desc')">
                                <i id="category-icon-desc" class="material-icons" data-toggle="tooltip"
                                   th:title="#{greenCity.pages.table.descending}">&#xE5DB;</i>
                            </span>
                        </th>
                        <th>[[#{greenCity.pages.table.condition}]]
                            <span onclick="orderByField('condition','asc')">
                                <i id="condition-icon-asc" class="material-icons" data-toggle="tooltip"
                                   th:title="#{greenCity.pages.table.ascending}">&#xE5D8;</i>
                            </span>
                            <span onclick="orderByField('condition','desc')">
                                <i id="condition-icon-desc" class="material-icons" data-toggle="tooltip"
                                   th:title="#{greenCity.pages.table.descending}">&#xE5DB;</i>
                            </span>
                        </th>
                        <th>[[#{greenCity.pages.table.actions}]]</th>
                    </tr>
                    </thead>

                    <th:block th:each="allAchievements, iterStatus :${pageable.getPage()}">
                        <tbody>
                        <tr>
                            <td>
                                        <span class="custom-checkbox">
                                            <input type="checkbox" th:id="checkbox+${iterStatus.count}" id="checkbox1"
                                                   name="options[]" th:value="${allAchievements.getId()}"
                                                   th:onclick="'updateCheckBoxCount('+${iterStatus.count}+')'">
                                            <label th:for="checkbox+${iterStatus.count}" for="checkbox1"></label>
                                        </span>
                            </td>
                            <td th:text="${allAchievements.getId()}"></td>
                            <td th:text="${allAchievements.getTitle()}"></td>
                            <td>
                                <span th:text="${allAchievements.getName()}"></span><br>
                                <span th:text="${allAchievements.getNameEng()}"></span>
                            </td>
                            <td th:text="${allAchievements.getAchievementCategory().getName()}"></td>
                            <td th:text="${allAchievements.getCondition()}"></td>
                            <td>
                                <a th:href="@{/management/achievement/{id}(id=${allAchievements.getId()})}"
                                   class="edit eBtn">
                                    <i class="material-icons" data-toggle="tooltip" th:title="#{greenCity.pages.edit}">&#xE254;</i>
                                </a>
                                <a th:href="@{/management/achievement/{id}(id=${allAchievements.getId()})}"
                                   class="delete eDelBtn" data-toggle="modal">
                                    <i class="material-icons" data-toggle="tooltip"
                                       th:title="#{greenCity.pages.delete}">&#xE872;</i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </th:block>
                </table>
                <div class="clearfix" th:if="${pageable.getPage().size() ne 0}">
                    <div class="hint-text">
                        [[#{greenCity.page.paging.show}]]
                        <b th:text="${pageable.getCurrentPage() eq 0 ? '1 -' : (pageable.isHasNext() ? pageable.getPage().size() * pageable.getCurrentPage() : pageable.getTotalElements() - pageable.getPage().size()) + 1 + ' - '}"></b>
                        <b th:text="${pageable.getCurrentPage() eq 0 ? pageable.getPage().size() : (pageable.isHasNext() ? pageable.getPage().size() * (pageable.getCurrentPage() + 1) : pageable.getTotalElements())}">*</b>
                        [[#{greenCity.page.paging.out.of}]]
                        <b th:text="${pageable.getTotalElements()}"></b>
                        [[#{greenCity.page.paging.entries}]]
                    </div>
                    <ul class="pagination">

                        <li class="page-item"
                            th:classappend="${!pageable.isFirst()} ? '' : 'disabled'">
                            <a class="page-link" rel="tooltip" th:if="${!pageable.isFirst()}"
                               th:href="@{/management/achievement?page={id}(id=${0}, query=${query})}"><i
                                    class="arrow fas fa-chevron-left"></i></a>
                            <a class="page-link" rel="tooltip" th:if="${pageable.isFirst()}"><i
                                    class="arrow fas fa-chevron-left"></i></a>
                        </li>

                        <li class="page-item"
                            th:if="${pageNumber > -1 && pageNumber < pageable.getTotalPages()}"
                            th:classappend="${pageNumber == pageable.getNumber()} ? 'active' : ''"
                            th:each="pageNumber : ${#numbers.sequence(pageable.getNumber()-3, pageable.getNumber()+3)}">
                            <a class="page-link" th:href="@{/management/achievement?page={id}(id=${pageNumber}, query=${query})}">[[${pageNumber}+1]]</a>
                        </li>

                        <li class="page-item"
                            th:classappend="${!pageable.isLast()} ? '' : 'disabled'">
                            <a class="page-link" rel="tooltip" th:if="${!pageable.isLast()}"
                               th:href="@{/management/achievement?page={id}(id=${pageable.getTotalPages()-1}, query=${query})}"><i
                                    class="arrow fas fa-chevron-right"></i></a>
                            <a class="page-link" rel="tooltip" th:if="${pageable.isLast()}"><i
                                    class="arrow fas fa-chevron-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Modal HTML -->
    <div id="addAchievementModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{management/achievement}" method="post" id="addAchievementForm">
                    <div class="modal-header">
                        <h4 class="modal-title">[[#{greenCity.achievement.page.add.achievement}]]</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>[[#{greenCity.pages.table.title}]]</label>
                            <input type="text" class="form-control" name="title" required>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>[[#{greenCity.pages.table.name}]] UA</label>
                                    <input type="text" class="form-control" name="name" required>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label>[[#{greenCity.pages.table.name}]] EN</label>
                                    <input type="text" class="form-control" name="nameEng" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>[[#{greenCity.pages.table.achievement.category}]]</label>
                            <select class="form-control" name="achievementCategory">
                                <option selected="selected" id="empty-category"></option>
                                <th:block th:each="category : ${categoryList}">
                                    <option th:value="${category.getName()}" th:text="${category.getName()}"></option>
                                </th:block>
                            </select>
                            <span th:id="errorModalSavecategory" class="errorSpan"></span>
                        </div>
                        <div class="form-group">
                            <label>[[#{greenCity.pages.table.condition}]]</label>
                            <input type="number" class="form-control" name="condition" required>
                            <span th:id="errorModalSavecondition" class="errorSpan"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default btn-tertiary" data-dismiss="modal"
                               th:value="#{greenCity.pages.popup.cancel.}">
                        <input type="submit" class="btn btn-success btn-primary"
                               th:value="#{greenCity.pages.popup.add.}" id="submitAddBtn">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Edit Modal HTML -->
    <div id="editAchievementModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{management/achievement/update}" method="post" id="editAchievementForm">
                    <div class="modal-header">
                        <h4 class="modal-title">[[#{greenCity.achievement.page.edit.achievement}]]</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="id">[[#{greenCity.pages.table.id}]]</label>
                            <input type="text" class="form-control" id="id" name="id" readonly required>
                            <span th:id="errorModalUpdateid" class="errorSpan"></span>
                        </div>

                        <div class="form-group">
                            <label>[[#{greenCity.pages.table.title}]]</label>
                            <input type="text" class="form-control" name="title" required>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>[[#{greenCity.pages.table.name}]] UA</label>
                                    <input type="text" class="form-control" name="name" required>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label>[[#{greenCity.pages.table.name}]] EN</label>
                                    <input type="text" class="form-control" name="nameEng" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>[[#{greenCity.pages.table.achievement.category}]]</label>
                            <select class="form-control" name="achievementCategory" required>
                                <option selected="selected"></option>
                                <th:block th:each="category : ${categoryList}">
                                    <option th:value="${category.getName()}" th:text="${category.getName()}"></option>
                                </th:block>
                            </select>
                            <span th:id="errorModalUpdatecategory" class="errorSpan"></span>
                        </div>

                        <div class="form-group">
                            <label>[[#{greenCity.pages.table.condition}]]</label>
                            <input type="number" class="form-control" name="condition" required>
                            <span th:id="errorModalUpdatecondition" class="errorSpan"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default btn-tertiary" data-dismiss="modal"
                               th:value="#{greenCity.pages.popup.cancel.}">
                        <input type="submit" class="btn btn-success btn-primary" th:value="#{greenCity.pages.popup.save.}"
                               id="submitEditBtn">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Delete Modal HTML -->
    <div id="deleteAchievementModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="deleteAchievementForm">
                    <div class="modal-header">
                        <h4 class="modal-title">[[#{greenCity.achievement.page.delete.achievement}]]</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>[[#{greenCity.pages.popup.delete.h2}]]</p>
                        <p class="text-warning"><small>[[#{greenCity.pages.popup.delete.all.h2}]]</small></p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default btn-tertiary" data-dismiss="modal"
                               th:value="#{greenCity.pages.popup.cancel.}">
                        <a href="" id="deleteOneSubmit" class="btn btn-remove">
                            <div>[[#{greenCity.pages.delete}]]</div>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Delete all selected Modal HTML -->
    <div id="deleteAllSelectedModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="">
                    <div class="modal-header">
                        <h4 class="modal-title">[[#{greenCity.pages.popup.delete.all.h}]]</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>[[#{greenCity.pages.popup.delete.all.h1}]]</p>
                        <p class="text-warning"><small>[[#{greenCity.pages.popup.delete.all.h2}]]</small></p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default btn-tertiary" data-dismiss="modal"
                               th:value="#{greenCity.pages.popup.cancel.}">
                        <a href="" id="deleteAllSubmit" class="btn btn-danger">
                            <div>[[#{greenCity.pages.delete}]]</div>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="footer" th:insert="~{core/footer}"></div>
</body>
</html>
