<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Place management</title>
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet"/>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" rel="stylesheet"/>
    <link href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800&display=swap&subset=cyrillic"
          rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script th:src="@{/management/places/buttonsAJAX.js}"></script>
    <script th:src="@{/management/localization/buttonsAJAX.js}"></script>
    <script defer type="text/javascript" th:src="@{/management/sidebar/sidebar.js}"></script>

    <style>
        .table-container {
            min-height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .displayNone {
            display: none;
        }
        table {
            table-layout: auto;
        }
        .no-wrap {
            white-space: nowrap;
        }
    </style>
</head>
<body>
<div id="header" th:insert="core/header"></div>
<div class="main-content">
    <div id="sidebar" th:insert="core/sidepanel"></div>
    <div class="container-xl">
        <div class="table-responsive places">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row manager-user">
                        <h2 class="text-describe">[[#{greenCity.places.page.h}]]</h2>
                        <div class="buttons">
                            <a addPlaceForm class="btn btn-secondary" data-toggle="modal"
                               href="#addPlaceModal" id="addPlaceModalBtn" th:onclick="addBtnDisabled()">
                                <div>[[#{greenCity.places.page.add.place}]]</div>
                            </a>
                            <a class="btn btn-remove disabled" data-toggle="modal" href="#deleteAllSelectedModal"
                               id="btnDelete">
                                <div>[[#{greenCity.pages.delete}]]</div>
                            </a>
                        </div>
                    </div>

                    <div class="row-box-and-sort">
                        <div class="main-search">
                            <!-- Search Form  -->
                            <form class="form-inline searching" onsubmit="return searchByQuery(document.getElementById('placeSearch').value)">
                                <input id="placeSearch" type="text" class="form-search" name="query" th:value="${query}" th:placeholder="#{greenCity.pages.search}">
                                <label for="placeSearch" class="search-icon" style="transform: translateY(-50%);"><i class="material-icons">&#xE8B6;</i></label>
                                <input class="search-submit-btn" type="submit">
                            </form>
                        </div>

                        <div class="filter-list-grid">
                            <div class="dropdown size">
                                <img src="/img/arrow-down.svg" alt="arrow-icon" class="change_color">
                                <button class="dropbtn size" id="currentPageSize"></button>
                                <div class="dropdown-content size">
                                    <a class="lightgrey" onclick="saveItemsOnPage('20')">20</a>
                                    <a class="lightgrey" onclick="saveItemsOnPage('40')">40</a>
                                    <a class="lightgrey" onclick="saveItemsOnPage('100')">100</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered" id="placeTable">
                    <thead class="text-align-center">
                    <tr>
                        <th rowspan="2">
                            <span class="custom-checkbox">
                                <input type="checkbox" id="selectAll">
                                <label for="selectAll"></label>
                            </span>
                        </th>
                        <th rowspan="2">
                            <div class="table-header-container">
                                <span class="header-text">[[#{greenCity.pages.table.id}]]</span>
                                <span class="table-filter-icon filter eFilterBtn"></span>
                                <span onclick="orderByNameField('asc', 'id')" data-field="id" data-order="asc" class="sort-icon">
                                    <i class="material-icons" data-toggle="tooltip"
                                       th:title="#{greenCity.pages.table.ascending}">&#xE5D8;</i>
                                </span>
                                <span onclick="orderByNameField('desc', 'id')" data-field="id" data-order="desc" class="sort-icon">
                                    <i class="material-icons" data-toggle="tooltip"
                                       th:title="#{greenCity.pages.table.descending}">&#xE5DB;</i>
                                </span>
                            </div>
                            <div class="filter-container">
                                <div class="filter-container__search">
                                    <input id="search-places-by-id" type="text" class="form-search" th:value="${fields.id}" th:placeholder="#{greenCity.pages.search}">
                                    <label for="search-places-by-id" class="search-icon"><i class="material-icons">&#xE8B6;</i></label>
                                </div>
                                <div class="filter-container__buttons">
                                    <input class="btn btn-secondary" data-dismiss="modal" type="button" th:value="#{greenCity.pages.popup.cancel.}" onclick="removeFilter('id')">
                                    <input type="submit" class="btn btn-success btn-primary" th:value="#{greenCity.pages.popup.apply.}" id="filter-by-id" onclick="searchByNameField(document.getElementById('search-eco-news-by-id').value, 'id')">
                                </div>
                            </div>
                        </th>
                        <th rowspan="2">
                            <div class="table-header-container">
                                <span class="header-text">[[#{greenCity.pages.table.name}]]</span>
                                <span class="table-filter-icon filter eFilterBtn"></span>
                                <span onclick="orderByNameField('asc', 'name')" data-field="name" data-order="asc" class="sort-icon">
                                    <i class="material-icons" data-toggle="tooltip"
                                       th:title="#{greenCity.pages.table.ascending}">&#xE5D8;</i>
                                </span>
                                <span onclick="orderByNameField('desc', 'name')" data-field="name" data-order="desc" class="sort-icon">
                                    <i class="material-icons" data-toggle="tooltip"
                                       th:title="#{greenCity.pages.table.descending}">&#xE5DB;</i>
                                </span>
                            </div>
                            <div class="filter-container">
                                <div class="filter-container__search">
                                    <input id="search-places-by-name" type="text" class="form-search" th:value="${fields.name}" th:placeholder="#{greenCity.pages.search}">
                                    <label for="search-places-by-name" class="search-icon"><i class="material-icons">&#xE8B6;</i></label>
                                </div>
                                <div class="filter-container__buttons">
                                    <input class="btn btn-secondary" data-dismiss="modal" type="button" th:value="#{greenCity.pages.popup.cancel.}" onclick="removeFilter('name')">
                                    <input type="submit" class="btn btn-success btn-primary" th:value="#{greenCity.pages.popup.apply.}" id="filter-by-name" onclick="searchByNameField(document.getElementById('search-places-by-name').value, 'name')">
                                </div>
                            </div>
                        </th>
                        <th rowspan="2">
                            <div class="table-header-container">
                                <span class="header-text">[[#{greenCity.pages.table.status}]]</span>
                                <span class="table-filter-icon filter eFilterBtn"></span>
                                <span onclick="orderByNameField('asc', 'status')" data-field="status" data-order="asc" class="sort-icon">
                                    <i class="material-icons" data-toggle="tooltip"
                                       th:title="#{greenCity.pages.table.ascending}">&#xE5D8;</i>
                                </span>
                                <span onclick="orderByNameField('desc', 'status')" data-field="status" data-order="desc" class="sort-icon">
                                    <i class="material-icons" data-toggle="tooltip"
                                       th:title="#{greenCity.pages.table.descending}">&#xE5DB;</i>
                                </span>
                            </div>
                            <div class="filter-container">
                                <div class="filter-container__search">
                                    <input id="search-places-by-status" type="text" class="form-search" th:value="${fields.status}" th:placeholder="#{greenCity.pages.search}">
                                    <label for="search-places-by-status" class="search-icon"><i class="material-icons">&#xE8B6;</i></label>
                                </div>
                                <div class="filter-container__buttons">
                                    <input class="btn btn-secondary" data-dismiss="modal" type="button" th:value="#{greenCity.pages.popup.cancel.}" onclick="removeFilter('status')">
                                    <input type="submit" class="btn btn-success btn-primary" th:value="#{greenCity.pages.popup.apply.}" id="filter-by-status" onclick="searchByNameField(document.getElementById('search-places-by-status').value, 'status')">
                                </div>
                            </div>
                        </th>
                        <th colspan="3">
                            <span class="header-text">[[#{greenCity.pages.table.opening.hours}]]</span>
                        </th>
                        <th rowspan="2">
                            <div class="table-header-container">
                                <span class="header-text">[[#{greenCity.pages.table.author}]]</span>
                                <span class="table-filter-icon filter eFilterBtn"></span>
                                <span onclick="orderByNameField('asc', 'authorName')" data-field="authorName" data-order="asc" class="sort-icon">
                                    <i class="material-icons" data-toggle="tooltip"
                                       th:title="#{greenCity.pages.table.ascending}">&#xE5D8;</i>
                                </span>
                                <span onclick="orderByNameField('desc', 'authorName')" data-field="authorName" data-order="desc" class="sort-icon">
                                    <i class="material-icons" data-toggle="tooltip"
                                       th:title="#{greenCity.pages.table.descending}">&#xE5DB;</i>
                                </span>
                            </div>
                            <div class="filter-container">
                                <div class="filter-container__search">
                                    <input id="search-places-by-author" type="text" class="form-search" th:value="${fields.author}" th:placeholder="#{greenCity.pages.search}">
                                    <label for="search-places-by-author" class="search-icon"><i class="material-icons">&#xE8B6;</i></label>
                                </div>
                                <div class="filter-container__buttons">
                                    <input class="btn btn-secondary" data-dismiss="modal" type="button" th:value="#{greenCity.pages.popup.cancel.}" onclick="removeFilter('author')">
                                    <input type="submit" class="btn btn-success btn-primary" th:value="#{greenCity.pages.popup.apply.}" id="filter-by-author" onclick="searchByNameField(document.getElementById('search-places-by-author').value, 'author')">
                                </div>
                            </div>
                        </th>
                        <th rowspan="2">
                            <div class="table-header-container">
                                <span class="header-text">[[#{greenCity.pages.table.address}]]</span>
                                <span class="table-filter-icon filter eFilterBtn"></span>
                            </div>
                            <div class="filter-container">
                                <div class="filter-container__search">
                                    <input id="search-places-by-address" type="text" class="form-search" th:value="${fields.address}" th:placeholder="#{greenCity.pages.search}">
                                    <label for="search-places-by-address" class="search-icon"><i class="material-icons">&#xE8B6;</i></label>
                                </div>
                                <div class="filter-container__buttons">
                                    <input class="btn btn-secondary" data-dismiss="modal" type="button" th:value="#{greenCity.pages.popup.cancel.}" onclick="removeFilter('address')">
                                    <input type="submit" class="btn btn-success btn-primary" th:value="#{greenCity.pages.popup.apply.}" id="filter-by-address" onclick="searchByNameField(document.getElementById('search-places-by-address').value, 'address')">
                                </div>
                            </div>
                        </th>
                        <th rowspan="2">
                            <span class="header-text">Lat</span>
                        </th>
                        <th rowspan="2">
                            <span class="header-text">Lng</span>
                        </th>
                        <th rowspan="2">
                            <span>[[#{greenCity.pages.table.image}]]</span>
                        </th>
                        <th rowspan="2">
                            <span>[[#{greenCity.pages.table.actions}]]</span>
                        </th>
                    </tr>
                    <tr>
                        <th>Day</th>
                        <th>Open Time</th>
                        <th>Close Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="place, iterStatus : ${pageable.getPage()}">
                        <tr>
                            <td>
                                <span class="custom-checkbox">
                                    <input id="checkbox+${iterStatus.count}" name="options[]"
                                           th:disabled="${place.getStatus().toString().equals('DELETED')}"
                                           th:id="checkbox+${iterStatus.count}" th:value="${place.getId()}" type="checkbox">
                                    <label th:for="checkbox+${iterStatus.count}"></label>
                                </span>
                            </td>
                            <td th:text="${place.getId()}"></td>
                            <td th:text="${place.getName()}"></td>
                            <td th:text="${place.getStatus()}"></td>
                            <td colspan="3">
                                <div th:if="${!place.getOpeningHoursList().isEmpty()}">
                                    <table class="table table-borderless m-0 table-child">
                                        <tbody>
                                        <th:block th:each="openingHours : ${place.getOpeningHoursList()}">
                                            <tr>
                                                <td th:text="${openingHours.weekDay}"></td>
                                                <td th:text="${openingHours.openTime}"></td>
                                                <td th:text="${openingHours.closeTime}"></td>
                                            </tr>
                                        </th:block>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                            <td th:text="${place.getAuthor().getName()}"></td>
                            <td th:text="${place.getLocation().getAddress()}"></td>
                            <td th:text="${place.getLocation().getLat()}"></td>
                            <td th:text="${place.getLocation().getLng()}"></td>
                            <td>
                                <div class="image-container" th:if="${!place.getImages().isEmpty()}">
                                    <th:block th:each="image : ${place.getImages()}">
                                        <img th:src="${image}" alt="place image" width="100" height="100" style="margin-right: 10px;">
                                    </th:block>
                                </div>
                            </td>
                            <td>
                                <a class="edit eBtn"
                                   th:href="@{/management/places/find(id=${place.getId()})}" th:if="${!place.getStatus().toString().equals('DELETED')}">
                                    <i class="material-icons" data-toggle="tooltip" th:title="#{greenCity.pages.edit}">&#xE254;</i>
                                </a>
                                <a class="delete eDelBtn" data-toggle="modal"
                                   th:href="@{/management/places(id=${place.getId()})}"
                                   th:if="${!place.getStatus().toString().equals('DELETED')}">
                                    <i class="material-icons" data-toggle="tooltip" th:title="#{greenCity.pages.delete}">&#xE872;</i>
                                </a>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
                <div class="clearfix">
                    <div class="hint-text">[[#{greenCity.page.paging.show}]] <b
                            th:text="${pageable.getTotalElements()>20?20:pageable.getTotalElements()}">5</b>
                        [[#{greenCity.page.paging.out.of}]] <b
                                th:text="${pageable.getTotalElements()}">25</b> [[#{greenCity.page.paging.entries}]]
                    </div>
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${pageable.getCurrentPage()==0?'disabled':''}"><a
                                class="page-link" th:href="@{(page=${pageable.getCurrentPage()-1})}">[[#{greenCity.page.paging.previous}]]</a>
                        </li>
                        <li class="page-item" th:classappend="${pageable.getCurrentPage()==i?'active':''}"
                            th:each="i : ${#numbers.sequence(0,pageable.getTotalPages()-1)}"><a
                                class="page-link" th:href="@{/management/places(page=${i})}" th:text="${i+1}">1</a>
                        </li>
                        <li class="page-item"
                            th:classappend="${pageable.getCurrentPage()==pageable.getTotalPages()-1?'disabled':''}">
                            <a
                                    class="page-link"
                                    th:href="@{(page=${pageable.getCurrentPage()+1})}">[[#{greenCity.page.paging.next}]]</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Modal HTML -->
    <div class="modal fade" id="addPlaceModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form id="addPlaceForm" method="post" enctype="multipart/form-data" th:action="@{places}">
                    <div class="modal-header">
                        <h4 class="modal-title">[[#{greenCity.places.page.add.place}]]</h4>
                        <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
                    </div>
                    <input id="id" name="id" style="display: none">
                    <input type="hidden" id="lat" name="lat" value="">
                    <input type="hidden" id="lng" name="lng" value="">
                    <input type="hidden" id="addressUa" name="addressUa" value="">
                    <div class="modal-body">
                        <div class="form-group">
                            <label>[[#{greenCity.pages.table.address}]]</label>
                            <input class="form-control" id="address" name="address" type="text"
                                   pattern="^[A-Za-z0-9\s,.-]+$"
                                   title="Please enter a valid address"
                                   required>
                            <span class="errorSpan" th:id="errorModalSavelocation"></span>
                        </div>
                        <div class="form-group">
                            <label>[[#{greenCity.pages.table.place.name}]]</label>
                            <input class="form-control" id="placeName" name="name" type="text">
                            <span class="errorSpan" th:id="errorModalSavename"></span>
                        </div>
                        <div class="form-group">
                            <label>[[#{greenCity.pages.table.status}]]</label>
                            <input class="form-control" name="status" readonly required type="text" value="APPROVED">
                        </div>
                        <div class="form-group">
                            <label>[[#{greenCity.pages.table.category}]]</label>
                            <select class="form-control" id="category" name="category">
                                <option id="empty-category" selected="selected"></option>
                                <th:block th:each="category : ${categoryList}">
                                    <tr>
                                        <option>
                                            <td th:text="${category.getName()}"></td>
                                        </option>
                                    </tr>
                                </th:block>
                            </select>
                            <span class="errorSpan" th:id="errorModalSavecategory"></span>
                        </div>

                        <div class="form-group">
                            <label>[[#{greenCity.pages.table.opening.hours}]]</label>
                            <div th:each="day: ${#strings.arraySplit('MONDAY,TUESDAY,WEDNESDAY,THURSDAY,FRIDAY,SATURDAY,SUNDAY',',')}">
                                <div class="form-row">
                                    <div class="form-group col-md-3 week-day">
                                        <input class="form-check-input" name="day" th:id="${day}" type="checkbox">
                                        <label class="form-check-label">
                                            <span th:text="${day}"></span>
                                        </label>
                                    </div>
                                    <div class="form-group col-md-4 work-hours">
                                        <div class="form-row">
                                            <div class="form-group col-6">
                                                <label>[[#{greenCity.pages.table.start.time}]]</label>
                                                <input class="form-control-sm" name="openTime" type="time">
                                            </div>
                                            <div class="form-group col-6">
                                                <label class="no-wrap">[[#{greenCity.pages.table.end.time}]]</label>
                                                <input class="form-control-sm" name="closeTime" type="time">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-5 break-time">
                                        <button class="btn btn-success btn-sm add-break">
                                            [[#{greenCity.pages.table.add.break.hours}]]
                                        </button>
                                        <div class="form-row break-hours displayNone">
                                            <div class="form-group">
                                                <div class="form-row">
                                                    <div class="form-group col-6">
                                                        <label>[[#{greenCity.pages.table.break.start.p}]]</label>
                                                        <input class="form-control-sm" name="startTime" type="time">
                                                    </div>
                                                    <div class="form-group col-6">
                                                        <label>[[#{greenCity.pages.table.break.end.p}]]</label>
                                                        <input class="form-control-sm" name="endTime" type="time">
                                                    </div>
                                                    <div class="=col-2">
                                                        <i class="material-icons removeBreak" data-toggle="tooltip"
                                                           th:title="#{greenCity.pages.table.delete.break.title}">&#xE872;</i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="errorSpan" th:id="errorModalSaveopeningHoursList"></span>
                        </div>
                        <div class="form-group">
                            <div id="discounts"></div>
                            <button class="btn btn-secondary" id="addDiscount">
                                [[#{greenCity.pages.table.delete.add.discount}]]
                            </button>
                        </div>
                        <div class="form-group">
                            <label>[[#{greenCity.pages.table.image}]]</label>
                            <input type="file" class="form-control" name="imagePath" id="creationFile" placeholder="ferf">
                            <span th:id="errorModalSavefile" class="errorSpan"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input class="btn btn-default" data-dismiss="modal" th:value="#{greenCity.pages.popup.cancel.}" type="button">
                        <input class="btn btn-success" id="submitAddBtn" th:value="#{greenCity.pages.popup.add.}" type="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Delete Modal HTML -->
    <div class="modal fade" id="deletePlaceModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="deletePlaceForm">
                    <div class="modal-header">
                        <h4 class="modal-title">[[#{greenCity.places.page.delete}]]</h4>
                        <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>[[#{greenCity.pages.popup.delete.h2}]]</p>
                        <p class="text-warning"><small>[[#{greenCity.pages.popup.delete.all.h2}]]</small></p>
                    </div>
                    <div class="modal-footer">
                        <input class="btn btn-default" data-dismiss="modal" th:value="#{greenCity.pages.popup.cancel.}"
                               type="button">
                        <a class="btn btn-danger" href="" id="deleteOneSubmit">[[#{greenCity.pages.delete}]]</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Delete all selected Modal HTML -->
    <div class="modal fade" id="deleteAllSelectedModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="">
                    <div class="modal-header">
                        <h4 class="modal-title">[[#{greenCity.pages.popup.delete.all.h}]]</h4>
                        <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>[[#{greenCity.pages.popup.delete.all.h1}]]</p>
                        <p class="text-warning"><small>[[#{greenCity.pages.popup.delete.all.h2}]]</small></p>
                    </div>
                    <div class="modal-footer">
                        <input class="btn btn-default" data-dismiss="modal" th:value="#{greenCity.pages.popup.cancel.}"
                               type="button">
                        <a class="btn btn-danger" href="" id="deleteAllSubmit">[[#{greenCity.pages.delete}]]</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="footer" th:insert="core/footer"></div>

<style>
    #map {
        height: 350px;
        width: 100%;
    }
</style>

<script defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3xs7Kczo46LFcQRFKPMdrE0lU4qsR_S4&callback=initMap">
</script>
<script th:inline="javascript">
    const messages = {
        "greenCity.places.page.add.address": [[#{greenCity.places.page.add.address}]],
        "greenCity.places.page.add.place.name": [[#{greenCity.places.page.add.place.name}]],
        "greenCity.places.page.add.category": [[#{greenCity.places.page.add.category}]],
        "greenCity.places.page.add.working.hours": [[#{greenCity.places.page.add.working.hours}]],
        "greenCity.places.page.add.day.hours": [[#{greenCity.places.page.add.day.hours}]],
        "greenCity.places.page.hours.is.incorrect": [[#{greenCity.places.page.hours.is.incorrect}]]
    };
</script>

<script th:inline="javascript">
    let discountSpecifications = /*[[${discountSpecifications}]]*/ [];
</script>
</body>
</html>
