<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Achievement management</title>
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/position.css}">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet"/>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" rel="stylesheet"/>
    <link href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800&display=swap&subset=cyrillic"
          rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/management/css/table_Modal_Pagination.css}">
    <script th:src="@{/management/achievements/buttonsAJAX.js}"></script>
    <script th:src="@{/management/localization/buttonsAJAX.js}"></script>
</head>
<body>
<div id="header" th:insert="core/header"></div>
<div id="sidebar" th:insert="core/sidepanel"></div>
<div class="main-content">
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>[[#{greenCity.achievement.page.h}]]</h2>
                        </div>
                        <div class="col-sm-6">
                                <span class="search-box-right">
                                    <form action="/management/achievement" class="form-inline searching" method="get">
                                        <img alt="search" id="btnSearchImage"
                                             src="/img/search.png">
                                        <input type="text" name="query" id="inputSearch" class="form-control"
                                               placeholder="Search…">
                                    </form>
                                </span>
                            <a class="btn btn-secondary" data-toggle="modal" href="#addAchievementModal"
                               id="addAchievementModalBtn">
                                <div>[[#{greenCity.achievement.page.add.achievement}]]</div>
                            </a>
                            <a href="#deleteAllSelectedModal" id="btnDelete" class="btn btn-remove disabled"
                               data-toggle="modal">
                                <div>[[#{greenCity.pages.delete}]]</div>
                            </a>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr class="table-primary">
                        <th>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="selectAll">
                                    <label for="selectAll"></label>
                                </span>
                        </th>
                        <th>[[#{greenCity.pages.table.id}]]</th>
                        <th>[[#{greenCity.pages.table.translations}]]</th>
                        <th>[[#{greenCity.pages.table.achievement.category}]]</th>
                        <th>[[#{greenCity.pages.table.condition}]]</th>
                        <th>[[#{greenCity.pages.table.actions}]]</th>
                    </tr>
                    </thead>

                    <th:block th:each="allAchievements, iterStatus :${pageable.getPage()}">
                        <tbody>
                        <tr>
                            <td>
                                        <span class="custom-checkbox">
                                            <input type="checkbox" th:id="checkbox+${iterStatus.count}" id="checkbox1"
                                                   name="options[]" th:value="${allAchievements.getId()}"
                                                   th:onclick="'updateCheckBoxCount('+${iterStatus.count}+')'">
                                            <label th:for="checkbox+${iterStatus.count}" for="checkbox1"></label>
                                        </span>
                            </td>
                            <td th:text="${allAchievements.getId()}"></td>
                            <td>
                                <table class="table table-borderless m-0">
                                    <thead>
                                    <tr class="table-secondary">
                                        <th style="width: 8%">[[#{greenCity.pages.table.translation.id}]]</th>
                                        <th style="width: 12%">[[#{greenCity.pages.table.title}]]</th>
                                        <th style="width: 20%">[[#{greenCity.pages.table.description}]]</th>
                                        <th style="width: 60%">[[#{greenCity.pages.table.message}]]</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block
                                            th:each="translation : ${pageable.getPage().get(iterStatus.index).getTranslations()}">
                                        <tr>
                                            <td th:text="${translation.getId()}"></td>
                                            <td th:text="${translation.getTitle()}"></td>
                                            <td th:text="${translation.getDescription()}"></td>
                                            <td th:text="${translation.getMessage()}"></td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </td>
                            <td th:text="${allAchievements.getAchievementCategory().getName()}"></td>
                            <td th:text="${allAchievements.getCondition()}"></td>
                            <td>
                                <a th:href="@{/management/achievement/{id}(id=${allAchievements.getId()})}"
                                   class="edit eBtn">
                                    <i class="material-icons" data-toggle="tooltip" th:title="#{greenCity.pages.edit}">&#xE254;</i>
                                </a>
                                <a th:href="@{/management/achievement/{id}(id=${allAchievements.getId()})}"
                                   class="delete eDelBtn" data-toggle="modal">
                                    <i class="material-icons" data-toggle="tooltip"
                                       th:title="#{greenCity.pages.delete}">&#xE872;</i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </th:block>
                </table>
                <div class="clearfix" th:if="${pageable.getPage().size() ne 0}">
                    <div class="hint-text">
                        [[#{greenCity.page.paging.show}]]
                        <b th:text="${pageable.getCurrentPage() eq 0 ? '1 -' : (pageable.isHasNext() ? pageable.getPage().size() * pageable.getCurrentPage() : pageable.getTotalElements() - pageable.getPage().size()) + 1 + ' - '}"></b>
                        <b th:text="${pageable.getCurrentPage() eq 0 ? pageable.getPage().size() : (pageable.isHasNext() ? pageable.getPage().size() * (pageable.getCurrentPage() + 1) : pageable.getTotalElements())}">*</b>
                        [[#{greenCity.page.paging.out.of}]]
                        <b th:text="${pageable.getTotalElements()}"></b>
                        [[#{greenCity.page.paging.entries}]]
                    </div>
                    <ul class="pagination">

                        <li class="page-item"
                            th:classappend="${!pageable.isFirst()} ? '' : 'disabled'">
                            <a class="page-link" rel="tooltip" th:if="${!pageable.isFirst()}"
                               th:href="@{/management/achievement?page={id}(id=${0})}"><i
                                    class="arrow fas fa-chevron-left"></i></a>
                            <a class="page-link" rel="tooltip" th:if="${pageable.isFirst()}"><i
                                    class="arrow fas fa-chevron-left"></i></a>
                        </li>

                        <li class="page-item"
                            th:if="${pageNumber > -1 && pageNumber < pageable.getTotalPages()}"
                            th:classappend="${pageNumber == pageable.getNumber()} ? 'active' : ''"
                            th:each="pageNumber : ${#numbers.sequence(pageable.getNumber()-3, pageable.getNumber()+3)}">
                            <a class="page-link" th:href="@{/management/achievement?page={id}(id=${pageNumber})}">[[${pageNumber}+1]]</a>
                        </li>

                        <li class="page-item"
                            th:classappend="${!pageable.isLast()} ? '' : 'disabled'">
                            <a class="page-link" rel="tooltip" th:if="${!pageable.isLast()}"
                               th:href="@{/management/achievement?page={id}(id=${pageable.getTotalPages()-1})}"><i
                                    class="arrow fas fa-chevron-right"></i></a>
                            <a class="page-link" rel="tooltip" th:if="${pageable.isLast()}"><i
                                    class="arrow fas fa-chevron-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Modal HTML -->
    <div id="addAchievementModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{management/achievement}" method="post" id="addAchievementForm">
                    <div class="modal-header">
                        <h4 class="modal-title">[[#{greenCity.achievement.page.add.achievement}]]</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" class="form-control" name="id" value="-1" readonly required>
                        <th:block th:each="language, iterInfo : ${languages}">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>[[#{greenCity.pages.table.language.id}]]</label>
                                        <input class="form-control" readonly required
                                               th:name="${language.getId()}" th:value="${language.getId()}"
                                               type="text"/>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>[[#{greenCity.pages.popup.language.code}]]</label>
                                        <input class="form-control" readonly required
                                               th:name="${language.getCode()}" th:value="${language.getCode()}"
                                               type="text"/>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>[[#{greenCity.pages.table.title}]]</label>
                                        <textarea class="form-control"
                                                  th:name="title+${'_' + language.getId()+'_'}+${language.getCode()}"
                                                  type="text"></textarea>
                                        <span class="errorSpan"
                                              th:id="'errorModalSavetranslations['+${iterInfo.index}+'].title'"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>[[#{greenCity.pages.table.description}]]</label>
                                        <textarea class="form-control"
                                                  th:name="description+${'_' + language.getId()+'_'}+${language.getCode()}"
                                                  type="text"></textarea>
                                        <span class="errorSpan"
                                              th:id="'errorModalSavetranslations['+${iterInfo.index}+'].description'"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>[[#{greenCity.pages.table.message}]]</label>
                                        <textarea class="form-control"
                                                  th:name="message+${'_' + language.getId()+'_'}+${language.getCode()}"
                                                  type="text"></textarea>
                                        <span class="errorSpan"
                                              th:id="'errorModalSavetranslations['+${iterInfo.index}+'].message'"></span>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                        <div class="form-group">
                            <label>[[#{greenCity.pages.table.achievement.category}]]</label>
                            <select class="form-control" name="achievementCategory">
                                <option selected="selected" id="empty-category"></option>
                                <th:block th:each="category : ${categoryList}">
                                    <tr>
                                        <option>
                                            <td th:text="${category.getName()}"></td>
                                        </option>
                                    </tr>
                                </th:block>
                            </select>
                            <span th:id="errorModalSavecategory" class="errorSpan"></span>
                        </div>
                        <div class="form-group">
                            <label>[[#{greenCity.pages.table.condition}]]</label>
                            <input class="form-control" name="condition" required type="number">
                            <span th:id="errorModalSavecondition" class="errorSpan"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default btn-tertiary" data-dismiss="modal"
                               th:value="#{greenCity.pages.popup.cancel.}">
                        <input type="submit" class="btn btn-success btn-primary"
                               th:value="#{greenCity.pages.popup.add.}" id="submitAddBtn">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Edit Modal HTML -->
    <div id="editAchievementModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="editAchievementForm">
                    <div class="modal-header">
                        <h4 class="modal-title">[[#{greenCity.achievement.page.edit.achievement}]]</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="id">[[#{greenCity.pages.table.id}]]</label>
                            <input type="text" class="form-control" id="id" name="id" readonly required>
                            <span th:id="errorModalUpdateid" class="errorSpan"></span>
                        </div>
                        <th:block th:each="language, iterInfo : ${languages}">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>[[#{greenCity.pages.table.language.id}]]</label>
                                        <input class="form-control" readonly required
                                               th:name="${language.getId()}" th:value="${language.getId()}"
                                               type="text"/>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>[[#{greenCity.pages.popup.language.code}]]</label>
                                        <input class="form-control" readonly required
                                               th:name="${language.getCode()}" th:value="${language.getCode()}"
                                               type="text"/>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>[[#{greenCity.pages.table.title}]]</label>
                                        <textarea class="form-control"
                                                  th:id="title+${'_' + language.getId()+'_'}+${language.getCode()}"
                                                  th:name="title+${'_' + language.getId()+'_'}+${language.getCode()}"
                                                  type="text"></textarea>
                                        <span class="errorSpan"
                                              th:id="'errorModalUpdatetranslations['+${iterInfo.index}+'].title'"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>[[#{greenCity.pages.table.description}]]</label>
                                        <textarea class="form-control"
                                                  th:id="description+${'_' + language.getId()+'_'}+${language.getCode()}"
                                                  th:name="description+${'_' + language.getId()+'_'}+${language.getCode()}"
                                                  type="text"></textarea>
                                        <span class="errorSpan"
                                              th:id="'errorModalUpdatetranslations['+${iterInfo.index}+'].description'"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>[[#{greenCity.pages.table.message}]]</label>
                                        <textarea class="form-control"
                                                  th:id="message+${'_' + language.getId()+'_'}+${language.getCode()}"
                                                  th:name="message+${'_' + language.getId()+'_'}+${language.getCode()}"
                                                  type="text"></textarea>
                                        <span class="errorSpan"
                                              th:id="'errorModalUpdatetranslations['+${iterInfo.index}+'].message'"></span>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                        <div class="form-group">
                            <label>[[#{greenCity.pages.table.achievement.category}]]</label>
                            <input type="text" class="form-control" id="achievementCategory" name="achievementCategory"
                                   readonly required>
                            <th:block th:each="category : ${categoryList}">
                                <tr>
                                    <td th:text="${category.getName()}"></td>
                                </tr>
                            </th:block>
                            <span th:id="errorModalUpdatecategory" class="errorSpan"></span>
                        </div>
                        <div class="form-group">
                            <label>[[#{greenCity.pages.table.condition}]]</label>
                            <input class="form-control" id="condition" name="condition" required type="number">
                            <span th:id="errorModalUpdatecondition" class="errorSpan"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default btn-tertiary" data-dismiss="modal"
                               th:value="#{greenCity.pages.popup.cancel.}">
                        <input type="submit" class="btn btn-info btn-primary" th:value="#{greenCity.pages.popup.save.}"
                               id="submitEditBtn">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Delete Modal HTML -->
    <div id="deleteAchievementModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="deleteAchievementForm">
                    <div class="modal-header">
                        <h4 class="modal-title">[[#{greenCity.achievement.page.delete.achievement}]]</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>[[#{greenCity.pages.popup.delete.h2}]]</p>
                        <p class="text-warning"><small>[[#{greenCity.pages.popup.delete.all.h2}]]</small></p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default btn-tertiary" data-dismiss="modal"
                               th:value="#{greenCity.pages.popup.cancel.}">
                        <a href="" id="deleteOneSubmit" class="btn btn-remove">
                            <div>[[#{greenCity.pages.delete}]]</div>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Delete all selected Modal HTML -->
    <div id="deleteAllSelectedModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="">
                    <div class="modal-header">
                        <h4 class="modal-title">[[#{greenCity.pages.popup.delete.all.h}]]</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>[[#{greenCity.pages.popup.delete.all.h1}]]</p>
                        <p class="text-warning"><small>[[#{greenCity.pages.popup.delete.all.h2}]]</small></p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default btn-tertiary" data-dismiss="modal"
                               th:value="#{greenCity.pages.popup.cancel.}">
                        <a href="" id="deleteAllSubmit" class="btn btn-danger">
                            <div>[[#{greenCity.pages.delete}]]</div>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="footer" th:insert="core/footer"></div>
</body>
</html>
