<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Fact of the day management</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/position.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800&display=swap&subset=cyrillic"
          rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/management/css/table_Modal_Pagination.css}">
    <script th:src="@{/management/factoftheday/buttonsAJAX.js}"></script>
    <script th:src="@{/management/localization/buttonsAJAX.js}"></script>
</head>
<body>
<div id="header" th:insert="core/header"></div>
<div id="sidebar" th:insert="core/sidepanel"></div>
<div class="main-content">
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Manage <strong>Fact of the day</strong></h2>
                        </div>
                        <div class="col-sm-6">
                                <span class="search-box-right">
                                    <form class="form-inline searching" action="/management/factoftheday/findAll"
                                          method="get">
                                        <i class="material-icons"></i>
                                        <input type="text" name="query" class="form-control" placeholder="Search…">
                                    </form>
                                </span>
                            <a href="#addFactOfTheDayModal" id="addFactOfTheDayModalBtn" class="btn btn-success"
                               data-toggle="modal"><i class="material-icons">&#xE147;</i>
                                <span>Add New Fact of the day</span></a>
                            <a href="#deleteAllSelectedModal" class="btn btn-danger" data-toggle="modal"><i
                                    class="material-icons">&#xE15C;</i> <span>Delete</span></a>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr class="table-primary">
                        <th>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="selectAll">
                                    <label for="selectAll"></label>
                                </span>
                        </th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Translations</th>
                        <th>Creation date</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <th:block th:each="factOfTheDay, iterStatus :${pageable.getPage()}">
                        <tbody>
                        <tr>
                            <td>
                                    <span class="custom-checkbox">
                                        <input type="checkbox" th:id="checkbox+${iterStatus.count}" id="checkbox1"
                                               name="options[]" th:value="${factOfTheDay.getId()}">
                                        <label th:for="checkbox+${iterStatus.count}" for="checkbox1"></label>
                                    </span>
                            </td>
                            <td th:text="${factOfTheDay.getId()}"></td>
                            <td th:text="${factOfTheDay.getName()}"></td>
                            <td>
                                <table class="table table-borderless m-0">
                                    <thead>
                                    <tr class="table-secondary">
                                        <th class="py-1">TranslationID</th>
                                        <th class="py-1">Content</th>
                                        <th class="py-1">LanguageCode</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block
                                            th:each="translation : ${pageable.getPage().get(iterStatus.index).getFactOfTheDayTranslations()}">
                                        <tr>
                                            <td class="py-1 text-right" th:text="${translation.getId()}">1</td>
                                            <td class="py-1" th:text="${translation.getContent()}"></td>
                                            <td class="py-1" th:text="${translation.getLanguage().getCode()}"></td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </td>
                            <td th:text="${#temporals.format(factOfTheDay.getCreateDate(), 'dd/MM/yyyy HH:mm')}"></td>
                            <td>
                                <a th:href="@{/factoftheday/find/(id=${factOfTheDay.getId()})}" class="edit eBtn"><i
                                        class="material-icons" data-toggle="tooltip" th:title="#{greenCity.pages.edit}">&#xE254;</i></a>
                                <a th:href="@{/management/factoftheday/(id=${factOfTheDay.getId()})}"
                                   class="delete eDelBtn" data-toggle="modal"><i class="material-icons"
                                                                                 data-toggle="tooltip"
                                                                                 th:title="#{greenCity.pages.delete}">&#xE872;</i></a>
                            </td>
                        </tr>
                        </tbody>
                    </th:block>
                </table>
                <div class="clearfix">
                    <div class="hint-text">Showing <b
                            th:text="${pageable.getTotalElements()>20?20:pageable.getTotalElements()}">5</b> out of <b
                            th:text="${pageable.getTotalElements()}">25</b> entries
                    </div>
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${pageable.getCurrentPage()==0?'disabled':''}"><a
                                th:href="@{factoftheday(page=${pageable.getCurrentPage()-1})}" class="page-link">Previous</a>
                        </li>
                        <li class="page-item" th:each="i : ${#numbers.sequence(0,pageable.getTotalPages()-1)}"
                            th:classappend="${pageable.getCurrentPage()==i?'active':''}"><a
                                th:href="@{factoftheday(page=${i})}" class="page-link" th:text="${i+1}">1</a></li>
                        <li class="page-item"
                            th:classappend="${pageable.getCurrentPage()==pageable.getTotalPages()-1?'disabled':''}"><a
                                th:href="@{factoftheday(page=${pageable.getCurrentPage()+1})}"
                                class="page-link">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Modal HTML -->
    <div id="addFactOfTheDayModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{factoftheday/save}" method="post" id="addFactOfTheDayForm">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Fact of the day</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" class="form-control" name="id" value="-1" readonly required>
                        <div class="form-group">
                            <label>Fact of the day name</label>
                            <input type="text" class="form-control" name="name" required>
                            <span th:id="errorModalSavename" class="errorSpan"></span>
                        </div>
                        <th:block th:each="language, iterInfo : ${languages}">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Language code</label>
                                        <input type="text" class="form-control" th:name="${language.getCode()}"
                                               th:value="${language.getCode()}" readonly required>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="form-group">
                                        <label>Content</label>
                                        <input type="text" class="form-control" th:name="content+${language.getCode()}">
                                        <span th:id="'errorModalSavefactOfTheDayTranslations['+${iterInfo.index}+'].content'"
                                              class="errorSpan"></span>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-success" value="Add" id="submitAddBtn">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Edit Modal HTML -->
    <div id="editFactOfTheDayModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="editFactOfTheDayForm">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Fact of the day</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" id="id" name="id" readonly required>
                            <span th:id="errorModalUpdateid" class="errorSpan"></span>
                        </div>
                        <div class="form-group">
                            <label>Fact of the day name</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                            <span th:id="errorModalUpdatename" class="errorSpan"></span>
                        </div>
                        <th:block th:each="language, iterInfo : ${languages}">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Language code</label>
                                        <input type="text" class="form-control" th:id="${language.getCode()}"
                                               th:name="${language.getCode()}" th:value="${language.getCode()}" readonly
                                               required>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="form-group">
                                        <label>Content</label>
                                        <input type="text" class="form-control eEdit"
                                               th:id="content+${language.getCode()}"
                                               th:name="content+${language.getCode()}">
                                        <span th:id="'errorModalUpdatefactOfTheDayTranslations['+${iterInfo.index}+'].content'"
                                              class="errorSpan"></span>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-info" value="Save" id="submitEditBtn">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Delete Modal HTML -->
    <div id="deleteFactOfTheDayModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="deleteFactOfThedayForm">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Fact of the day</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete that Record?</p>
                        <p class="text-warning"><small>This action cannot be undone.</small></p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <a href="" id="deleteOneSubmit" class="btn btn-danger">Delete</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Delete all selected Modal HTML -->
    <div id="deleteAllSelectedModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete all selected</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete these Records?</p>
                        <p class="text-warning"><small>This action cannot be undone.</small></p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <a href="" id="deleteAllSubmit" class="btn btn-danger">Delete</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="footer" th:insert="core/footer"></div>
</body>
</html>
