<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Social network images management</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/position.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800&display=swap&subset=cyrillic"
          rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/management/css/table_Modal_Pagination.css}">
    <script th:src="@{/management/socialnetworkimages/buttonsAJAX.js}"></script>
    <script th:src="@{/management/localization/buttonsAJAX.js}"></script>
</head>
<body>
<div id="header" th:insert="core/header"></div>
<div id="sidebar" th:insert="core/sidepanel"></div>
<div class="main-content">
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>[[#{greenCity.social.page.h}]]</h2>
                        </div>
                        <div class="col-sm-6">
                                <span class="search-box-right">
                                    <form class="form-inline searching" action="/management/socialnetworkimages"
                                          method="get">
                                        <!--<i class="material-icons"></i>-->
                                        <img alt="search" id="btnSearchImage"
                                             src="/img/search.png">
                                        <input type="text" name="query" id="inputSearch" class="form-control"
                                               placeholder="Search…">
                                    </form>
                                </span>
                            <a href="#addSocialNetworkImagesModal" id="addSocialNetworkImagesBtn"
                               class="btn btn-secondary"
                               data-toggle="modal">
                                <!--<i class="material-icons">&#xE147;</i>-->
                                <div>[[#{greenCity.social.page.add.social}]]</div>
                            </a>
                            <a href="#deleteAllSelectedModal" id="btnDelete" class="btn btn-remove disabled"
                               data-toggle="modal">
                                <!--<i class="material-icons">&#xE15C;</i>-->
                                <div>[[#{greenCity.pages.delete}]]</div>
                            </a>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr class="table-primary">
                        <th>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="selectAll">
                                    <label for="selectAll"></label>
                                </span>
                        </th>
                        <th>[[#{greenCity.pages.table.id}]]</th>
                        <th>[[#{greenCity.pages.table.host.path}]]</th>
                        <th>[[#{greenCity.pages.table.image.path}]]</th>
                        <th>[[#{greenCity.pages.table.actions}]]</th>
                    </tr>
                    </thead>
                    <th:block th:each="socialnetworkimage, iterStatus :${pageable.getPage()}">
                        <tbody>
                        <tr>
                            <td>
                               <span class="custom-checkbox">
                                        <input type="checkbox" th:id="checkbox+${iterStatus.count}" id="checkbox1"
                                               name="options[]" th:value="${socialnetworkimage.id}"
                                               th:onclick="'updateCheckBoxCount('+${iterStatus.count}+')'">
                                        <label th:for="checkbox+${iterStatus.count}" for="checkbox1"></label>
                                    </span>
                            </td>
                            <td th:text="${socialnetworkimage.id}"></td>
                            <td><a th:href="${socialnetworkimage.hostPath}"
                                   th:text="${socialnetworkimage.hostPath}"></a></td>
                            <td><img th:src="${socialnetworkimage.imagePath}" th:width="100" th:height="100"></td>
                            <td>
                                <a th:href="@{/management/socialnetworkimages/find/(id=${socialnetworkimage.getId()})}"
                                   class="edit eBtn">
                                    <i class="material-icons" data-toggle="tooltip" th:title="#{greenCity.pages.edit}">&#xE254;</i>
                                </a>
                                <a th:href="@{/management/socialnetworkimages/delete/(id=${socialnetworkimage.getId()})}"
                                   class="delete eDelBtn" data-toggle="modal">
                                    <i class="material-icons" data-toggle="tooltip"
                                       th:title="#{greenCity.pages.delete}">&#xE872;</i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </th:block>
                </table>
                <div class="clearfix">
                    <div class="hint-text">[[#{greenCity.page.paging.show}]] <b
                            th:text="${pageable.getTotalElements()>20?20:pageable.getTotalElements()}">5</b>
                        [[#{greenCity.page.paging.out.of}]] <b
                                th:text="${pageable.getTotalElements()}">25</b> [[#{greenCity.page.paging.entries}]]
                    </div>
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${pageable.getCurrentPage()==0?'disabled':''}"><a
                                th:href="@{/management/socialnetworkimages(page=${pageable.getCurrentPage()-1})}"
                                class="page-link">[[#{greenCity.page.paging.previous}]]</a>
                        </li>
                        <li class="page-item" th:each="i : ${#numbers.sequence(0,pageable.getTotalPages()-1)}"
                            th:classappend="${pageable.getCurrentPage()==i?'active':''}"><a
                                th:href="@{/management/socialnetworkimages(page=${i})}" class="page-link"
                                th:text="${i+1}">1</a></li>
                        <li class="page-item"
                            th:classappend="${pageable.getCurrentPage()==pageable.getTotalPages()-1?'disabled':''}"><a
                                th:href="@{/management/socialnetworkimages(page=${pageable.getCurrentPage()+1})}"
                                class="page-link">[[#{greenCity.page.paging.next}]]</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Modal HTML -->
    <div id="addSocialNetworkImagesModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{management/socialnetworkimages}" method="post" id="addSocialNetworkImagesForm">
                    <div class="modal-header">
                        <h4 class="modal-title">[[#{greenCity.social.page.add.social}]]</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" class="form-control" name="id" value="-1" readonly required>
                        <div class="form-group">
                            <label>[[#{greenCity.pages.table.host.path}]]</label>
                            <input type="text" class="form-control" name="hostPath" required>
                            <span th:id="errorModalSaveimagepath" class="errorSpan"></span>
                        </div>
                        <div class="form-group">
                            <label>[[#{greenCity.pages.table.image.path}]]</label>
                            <input type="file" class="form-control" name="imagePath" id="creationFile">
                            <span th:id="errorModalSavefile" class="errorSpan"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default btn-tertiary" data-dismiss="modal"
                               th:value="#{greenCity.pages.popup.cancel.}">
                        <input type="submit" class="btn btn-success btn-primary"
                               th:value="#{greenCity.pages.popup.add.}" id="submitAddBtn">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Edit Modal HTML -->
    <div id="editSocialNetworkImagesModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="editSocialNetworkImagesForm">
                    <div class="modal-header">
                        <h4 class="modal-title">[[#{greenCity.social.page.edit.social}]]</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="id">[[#{greenCity.pages.table.id}]]</label>
                            <input type="text" class="form-control" id="id" name="id" readonly required>
                            <span th:id="errorModalUpdateid" class="errorSpan"></span>
                        </div>
                        <div class="form-group">
                            <label for="hostPath">[[#{greenCity.pages.table.host.path}]]</label>
                            <input type="text" class="form-control" id="hostPath" name="hostPath" required>
                            <span th:id="errorModalUpdatehostpath" class="errorSpan"></span>
                        </div>
                        <div class="form-group">
                            <label for="imagePath">[[#{greenCity.pages.table.image.path}]]</label>
                            <input type="text" class="form-control" id="imagePath" name="imagePath" readonly required>
                        </div>
                        <div class="form-group">
                            <label for="file">[[#{greenCity.pages.table.file}]]</label>
                            <input type="file" class="form-control" id="file" name="file">
                            <span th:id="errorModalUpdatefile" class="errorSpan"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default btn-tertiary" data-dismiss="modal"
                               th:value="#{greenCity.pages.popup.cancel.}">
                        <input type="submit" class="btn btn-success btn-primary"
                               th:value="#{greenCity.pages.popup.save.}" id="submitEditBtn">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Delete Modal HTML -->
    <div id="deleteSocialNetworkImagesModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="deleteSocialNetworkImagesForm">
                    <div class="modal-header">
                        <h4 class="modal-title">[[#{greenCity.social.page.delete.social}]]</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>[[#{greenCity.pages.popup.delete.all.h1}]]</p>
                        <p class="text-warning"><small>[[#{greenCity.pages.popup.delete.all.h2}]]</small></p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default btn-tertiary" data-dismiss="modal"
                               th:value="#{greenCity.pages.popup.cancel.}">
                        <a href="" id="deleteOneSubmit" class="btn btn-remove">
                            <div>[[#{greenCity.pages.delete}]]</div>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Delete all selected Modal HTML -->
    <div id="deleteAllSelectedModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="">
                    <div class="modal-header">
                        <h4 class="modal-title">[[#{greenCity.pages.popup.delete.all.h}]]</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>[[#{greenCity.pages.popup.delete.all.h1}]]</p>
                        <p class="text-warning"><small>[[#{greenCity.pages.popup.delete.all.h2}]]</small></p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default btn-tertiary" data-dismiss="modal"
                               th:value="#{greenCity.pages.popup.cancel.}">
                        <a href="" id="deleteAllSubmit" class="btn btn-remove">[[#{greenCity.pages.delete}]]</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="footer" th:insert="core/footer"></div>
</body>
</html>
