<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sidebar</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}">
    <script defer type="text/javascript" th:src="@{/management/sidebar/sidebar.js}"></script>
    <script th:src="@{/management/user/paginationAndSort.js}"></script>
</head>

<nav id="sidebar" class="menuVertical">

    <ul>
        <block id="maximize">
            <div class="img_blc">
                <img th:src="@{/img/arrow-icon.png}">
            </div>
        </block>
        <li>
            <a onclick="Order()" >
            <div class="img_n"><img th:src="@{/img/icon_user.png}"></div>
            <span id="to_be_white">[[#{greenCity.sidebar.users}]]</span>
            </a>
        </li>

        <li class="accordion">
            <dropdown>
                <div class="img_n"><img th:src="@{/img/habits_white.svg}"></div>
                <span>[[#{greenCity.sidebar.habits}]]</span>
            </dropdown>
        </li>
        <div class="panel">
            <ul>
                <li>
                    <a th:href="@{/management/habits}">
                        <div class="img_nested_list"><img th:src="@{/img/habits_icon.png}"></div>
                        <span>[[#{greenCity.sidebar.habits.all}]]</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/management/facts}">
                        <div class="img_nested_list"><img th:src="@{/img/habit_fact.png}"></div>
                        <span>[[#{greenCity.sidebar.habits.facts}]]</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/management/advices}">
                        <div class="img_nested_list"><img th:src="@{/img/habit_advices.png}"></div>
                        <span>[[#{greenCity.sidebar.habits.advice}]]</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/management/shopping-list-items}">
                        <!--<div class="img_nested_list"><img th:src="@{/img/icon_user.png}"></div>-->
                        <span>[[#{greenCity.sidebar.habits.shoppingList}]]</span>
                    </a>
                </li>
            </ul>
        </div>

        <li><a th:href="@{/management/eco-news}">
            <div class="img_n"><img th:src="@{/img/eco_news_icon.png}"></div>
            <span>[[#{greenCity.sidebar.econews}]]</span></a>
        </li>

        <li><a th:href="@{/management/events}">
            <div class="img_n"><img th:src="@{/img/eco_news_icon.png}"></div>
            <span>[[#{greenCity.sidebar.events}]]</span></a>
        </li>

        <li><a th:href="@{/management/tags}">
            <div class="img_n"><img th:src="@{/img/tag_icon.png}"></div>
            <span>[[#{greenCity.sidebar.tags}]]</span></a></li>

        <li><a th:href="@{/management/places}">
            <div class="img_n"><img th:src="@{/img/eco_places_icon.png}"></div>
            <span>[[#{greenCity.sidebar.ecoPlaces}]]</span></a></li>

        <li class="accordion">
            <dropdown>
                <div class="img_n"><img th:src="@{/img/rating_icon.png}"></div>
                <span>[[#{greenCity.sidebar.ratings}]]</span></dropdown>
        </li>
        <div class="panel">
            <ul>
                <li>
                    <a th:href="@{/management/rating}">
                        <!--<div class="img_nested_list"><img th:src="@{/img/icon_user.png}"></div>-->
                        <span>[[#{greenCity.sidebar.ratings.all}]]</span>
                    </a>
                </li>
                <li>
                    <a href="#2-2">
                        <!--<div class="img_nested_list"><img th:src="@{/img/icon_user.png}"></div>-->
                        <span>[[#{greenCity.sidebar.ratings.calculation.setup}]]</span>
                    </a>
                </li>
            </ul>
        </div>
        <li><a th:href="@{/management/socialnetworkimages}">
            <div class="img_n"><img th:src="@{/img/social_net_icon.png}"></div>
            <span>[[#{greenCity.sidebar.socialNetworksImagines}]]</span></a></li>

        <li class="accordion">
            <dropdown>
                <div class="img_n"><img th:src="@{/img/achievements_icon.png}"></div>
                <span>[[#{greenCity.sidebar.achievements}]]</span></dropdown>
        </li>
        <div class="panel">
            <ul>
                <li>
                    <a th:href="@{/management/achievement}">
                        <!--<div class="img_nested_list"><img th:src="@{/img/icon_user.png}"></div>-->
                        <span>[[#{greenCity.sidebar.achievements.all}]]</span>
                    </a>
                </li>
                <li>
                    <a href="#2-2">
                        <!--<div class="img_nested_list"><img th:src="@{/img/icon_user.png}"></div>-->
                        <span>[[#{greenCity.sidebar.achievements.setup}]]</span>
                    </a>
                </li>
            </ul>
        </div>

        <li><a th:href="@{/management/factoftheday}">
            <div class="img_n"><img th:src="@{/img/facts_of_day_icon.png}"></div>
            <span>[[#{greenCity.sidebar.factsOfTheDay}]]</span></a></li>

        <li class="accordion">
            <dropdown>
                <div class="img_n"><img th:src="@{/img/statistic_icon.png}"></div>
                <span>[[#{greenCity.sidebar.statistics}]]</span></dropdown>
        </li>
        <div class="panel">
            <ul>
                <li>
                    <a href="#2-1">
                        <!--<div class="img_nested_list"><img th:src="@{/img/icon_user.png}"></div>-->
                        <span>[[#{greenCity.sidebar.statistics.users}]]</span>
                    </a>
                </li>
                <li>
                    <a href="#2-2">
                        <!--<div class="img_nested_list"><img th:src="@{/img/icon_user.png}"></div>-->
                        <span>[[#{greenCity.sidebar.statistics.habits}]]</span>
                    </a>
                </li>
                <li>
                    <a href="#2-1">
                        <!--<div class="img_nested_list"><img th:src="@{/img/icon_user.png}"></div>-->
                        <span>[[#{greenCity.sidebar.statistics.ecoNews}]]</span>
                    </a>
                </li>
                <li>
                    <a href="#2-2">
                        <!--<div class="img_nested_list"><img th:src="@{/img/icon_user.png}"></div>-->
                        <span>[[#{greenCity.sidebar.statistics.ecoPlaces}]]</span>
                    </a>
                </li>
                <li>
                    <a href="#2-1">
                        <!--<div class="img_nested_list"><img th:src="@{/img/icon_user.png}"></div>-->
                        <span>[[#{greenCity.sidebar.statistics.achievements}]]</span>
                    </a>
                </li>
                <li>
                    <a href="#2-2">
                        <!--<div class="img_nested_list"><img th:src="@{/img/icon_user.png}"></div>-->
                        <span>[[#{greenCity.sidebar.statistics.tags}]]</span>
                    </a>
                </li>
            </ul>
        </div>
    </ul>
</nav>

</html>