<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Event Modal</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/position.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800&display=swap&subset=cyrillic"
          rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <link rel="stylesheet" th:href="@{/management/css/table_Modal_Pagination.css}">
    <script th:src="@{/management/events/buttonsAJAX.js}"></script>
    <script th:src="@{/management/localization/buttonsAJAX.js}"></script>
</head>
<body>
<!-- Edit Modal HTML -->
<div id="editEventsModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="editEcoNewsForm">
                <div class="modal-header">
                    <h4 class="modal-title">[[#{greenCity.events.page.edit.events}]]</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="id">[[#{greenCity.pages.table.id}]]</label>
                        <input type="text" class="form-control" id="id" name="id" readonly required>
                        <span th:id="errorModalUpdateid" class="errorSpan"></span>
                    </div>
                    <div class="form-group">
                        <label for="title">[[#{greenCity.pages.table.title}]]</label>
                        <textarea type="text" class="form-control" id="title" name="title" required></textarea>
                        <span th:id="errorModalUpdatetitle" class="errorSpan"></span>
                    </div>
                    <div class="form-group">
                        <label for="text">[[#{greenCity.pages.table.text}]]</label>
                        <textarea type="text" class="form-control" id="text" name="text" required></textarea>
                        <span th:id="errorModalUpdatetext" class="errorSpan"></span>
                    </div>
                    <div class="form-group">
                        <label for="tagsEdit">[[#{greenCity.pages.table.tags}]]</label>
                        <div id="tagsEdit" style="width: 100%; display: inline-block;">

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="imagePath">[[#{greenCity.pages.table.image.path}]]</label>
                        <textarea type="text" class="form-control" id="imagePath" name="imagePath"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="source">[[#{greenCity.pages.table.source}]]</label>
                        <textarea type="text" class="form-control" id="source" name="source"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="file">[[#{greenCity.pages.table.image}]]</label>
                        <input type="file" class="form-control" id="file" name="file">
                        <span th:id="errorModalUpdatefile" class="errorSpan"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default btn-tertiary" data-dismiss="modal"
                           th:value="#{greenCity.pages.popup.cancel.}">
                    <input type="submit" class="btn btn-info btn-primary" th:value="#{greenCity.pages.popup.save.}"
                           id="submitEditBtn" >
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>