
.middle {
    position: relative;
    width: 100%;
    max-width: 500px;
}

.slider {
    position: relative;
    z-index: 1;
    height: 2px;
    margin: 0 15px;
}
.slider > .track {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #13AA57;
}
.slider > .range {
    position: absolute;
    z-index: 2;
    left: 25%;
    right: 25%;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #13AA57;
}
.slider > .thumb {
    position: absolute;
    z-index: 3;
    width: 17px;
    height: 17px;
    background-color: #13AA57;
    border-radius: 50%;
    /*box-shadow: 0 0 0 0 rgba(98,0,238,.1);*/
    /*transition: box-shadow .3s ease-in-out;*/
}
.slider > .thumb.left {
    left: 25%;
    transform: translate(-15px, -10px);
}
.slider > .thumb.right {
    right: 25%;
    transform: translate(15px, -10px);
}
/*.slider > .thumb.hover {*/
/*    box-shadow: 0 0 0 20px rgba(98,0,238,.1);*/
/*}*/
/*.slider > .thumb.active {*/
/*    box-shadow: 0 0 0 40px rgba(98,0,238,.2);*/
/*}*/

input[type=range] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 2;
    height: 2px;
    width: 100%;
    opacity: 0;
}
input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    width: 20px;
    height: 20px;
    border-radius: 0;
    border: 10px solid white ;
    background-color: red;
    -webkit-appearance: none;
}