body {
    color: #566787;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.table {
    font-size: 14px;
}

.table-secondary, .table-secondary > td, .table-secondary > th {
    background-color: #F5F6F6;
}

.filter-table {
    background-color: white;
    border: #4b9b25;
    border-radius: 2px;
    font-size: 14px;
    color: #4b9b25;
}

.table-wrapper {
    background: #fff;
    margin-top: 5px;
    border-radius: 3px;
    min-width: 1000px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.table-title {
    padding-bottom: 15px;
    color: #212529;
    padding: 16px 30px;
    min-width: 100%;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}

.center {
    margin: auto;
    display: block;
}

.page-title h1 {
    padding-left: 7px;
    font-weight: bold;
    font-size: 32px;
    color: #13AA57;
}

.content {
    display: flex;
}

.user-info {
    width: 261px;
    min-width: 261px;
    height: 100%;
    padding: 24px;
    margin-right: 16px;
    overflow-x: auto;
    box-shadow: 1px 4px 8px rgba(100, 114, 125, 0.18);
}

.online-status {
    position: relative;
    left: 60px;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    background: #13AA57;
    border: 1px solid #FFFFFF;
}

.profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-top: 20px;
}

.profile-picture.default {
    background: linear-gradient(180deg, #abe64d 0%, #4b9b25 100%);
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 42px;
    color: #fff;
    box-sizing: border-box;
}

.profile-picture.friend {
    margin: 7px;
    width: 56px;
    height: 56px;
    font-size: 20px;
    line-height: 30px
}

.friends-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.user-info-text {
    margin-top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #64727D;
}

.username-text {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 0.2px;
    color: #444E55;
}

.info-title-text span {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #444E55;
}

.info-title-text h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    margin-top: 5px;
    color: #9CA7B0;
}

.info-title-text a {
    float: right;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    color: #9CA7B0;
}

.block-green {
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 89px;
    height: 24px;
    margin-top: 12px;
    background: #B3E6C9;
    border-radius: 4px;
    font-weight: 600;
    font-size: 13px;
    color: #336B4C;
}

.social-networks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.social-networks img {
    width: 35px;
    height: 35px;
    padding: 4px;
}

.divider {
    margin: 12px auto auto;
    height: 2px;
    background-color: #E3E6E8;
}

.user-tables {
    display: flex;
    min-width: 800px;
}

/*.hoverable {
    color: red;
    cursor: pointer;
}
.hoverable:hover .tooltip {
    display: block;
}
.tooltip {
    position: absolute;
    white-space: nowrap;
    display: none;
    background: #ffffcc;
    border: 1px solid black;
    padding: 5px;
    z-index: 1000;
    color: black;
}*/

.tooltip-container {
    display: flex;
    width: fit-content;
    height: fit-content;
    padding: 32px;
    background: #FFFFFF;
    box-shadow: 1px 4px 8px rgba(100, 114, 125, 0.18);
    border-radius: 4px;
    font-size: 13px;
    color: #444E55;
}

.tooltip-container h2 {
    font-size: 13px;
    line-height: 28px;
    font-weight: bold;
    letter-spacing: 0.1px;
    color: #444E55;
    margin: 0
}

.tooltip-container table {
    margin-right: 30px;
    font-size: 13px;
}

.table-title h2 {
    display: inline-block;
    font-weight: bold;
    font-size: 32px;
    color: #13AA57;
}

.table-header {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 8px;
}

.table-header h3 {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 0.002em;
    color: #444E55;
}

.manager-user {
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: flex-end;
    justify-content: space-between;
}

.text-describe {
    height: 38px;
    width: 400px;
}

.buttons {
    display: flex;
    margin-right: 20px;
}

.username {
    width: 200px;
}

.table-title .btn-group {
    float: right;
}

.table-title .btn {
    color: #fff;
    font-size: 14px;
    border: none;
    min-width: 50px;
    border-radius: 5px;
    border: none;
    outline: none !important;
    margin-left: 20px;
}

.table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}

.table-title .btn span {
    float: left;
    margin-top: 2px;
}

.table-responsive.userpage {
    max-height: 286px;
}

.table-responsive.userpage::-webkit-scrollbar {
    display: block !important;
    width: 8px;
}

.table-responsive.userpage::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.table-responsive.userpage::-webkit-scrollbar-thumb {
    background: #64727D;
    border-radius: 50px;
}

.table-responsive.userpage::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.table-primary {
    position: sticky;
    top: 0;
}

.table-bordered.userpage {
    margin-bottom: 0;
}

table.table tr th, table.table tr td {
    line-height: 26px;
    border-color: #e9e9e9;
    padding: 7px 10px;
    vertical-align: middle;
}

table.table tr th {
    background-color: #444E55;
    color: #EFF0F1;
    font-weight: normal;
}

table.table tr th:first-child {
    width: 60px;
}

table.table tr th:last-child {
    width: 100px;
}

table.table-striped tbody tr {
    background-color: #e5ebef;
    white-space: nowrap;
}


table.table th i {
    font-size: 14px;
    margin: 0 5px;
    cursor: pointer;
}

table.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
}

table.table td:last-child i.fa-star {
    opacity: 0.9;
    font-size: 19px;
    margin: 0;
    color: #13AA57;
}

table.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
    outline: none !important;
}

table.table td a.id-link {
    font-weight: normal;
    color: #13AA57;
}

table.table td a:hover {
    color: #13AA57;
}

table.table td a.edit {
    color: #FF9310;
}

table.table td a.delete {
    color: #E02116;
}

table.table td a.add {
    color: #008000;
}

table.table td a.deactivate-user {
    color: #000000;
}

table.table td a.activate-user {
    color: #000000;
}

.statistic-style {
    color: #13AA57;
}

table.table td i {
    font-size: 19px;
}

table.table .avatar {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

.pagination {
    justify-content: center;
    margin: 0 0 5px;
}

.pagination li a {
    border: none;
    font-size: 14px;
    min-width: 30px;
    min-height: 30px;
    color: #444E55;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
}

.pagination li a:hover {
    color: #666;
}

.pagination li.active a, .pagination li.active a.page-link {
    background: #FFFFFF;
    color: #444E55;
    border: 1px solid #444E55;
}

.pagination li.active a:hover {
    /*background: #245740;*/
}

.pagination li.disabled i {
    color: #ccc;
}

.pagination li i {
    font-size: 16px;
    padding-top: 6px
}

.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 14px;
}

/* Custom checkbox */
.row-box-and-sort {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 16px;
    display: flex;
    flex-grow: 1;
}


.custom-checkbox-select-all {
    padding-top: 10px;
    margin-left: 40px;
    position: relative;
}

.custom-checkbox-select-all input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    margin: 5px 0 0 3px;
    z-index: 9;
    border: 1px solid;
}

.custom-checkbox-select-all label:before {
    content: '';
    display: inline-block;
    vertical-align: text-top;
    background: #f0f0f0;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    box-sizing: border-box;
    z-index: 2;
    width: 18px;
    height: 18px;
}

.custom-checkbox-select-all input[type="checkbox"]:checked + label:after {
    margin-top: 10px;
    content: '';
    position: absolute;
    left: 6px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    transform: inherit;
    z-index: 3;
    transform: rotateZ(45deg);
}

.custom-checkbox-select-all input[type="checkbox"]:checked + label:before {
    border-color: #245740;
    background: #245740;
}

.custom-checkbox-select-all input[type="checkbox"]:checked + label:after {
    border-color: #fff;
}

.custom-checkbox-select-all input[type="checkbox"]:disabled + label:before {
    color: #f0f0f0;
    cursor: auto;
    box-shadow: none;
    background: #f0f0f0;
}

.custom-checkbox {
    margin-left: 8px;
    margin-top: -9px;
}

.custom-checkbox.userpage {
    position: relative;
    margin: 0px;
}

.custom-checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    margin: 5px 0 0 3px;
    z-index: 9;
}

.custom-checkbox .modal-checkbox label:before {
    border: 1px solid green;
}

.custom-checkbox label:before {
    content: '';
    display: inline-block;
    vertical-align: text-top;
    background: #FFFFFF;
    border: 1px solid #9CA7B0;
    box-sizing: border-box;
    border-radius: 3px;
    z-index: 2;
    width: 18px;
    height: 18px;

}

.custom-checkbox input[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    transform: inherit;
    z-index: 3;
    transform: rotateZ(45deg);
}

.custom-checkbox input[type="checkbox"]:checked + label:before {
    border-color: #13AA57;
    background: #13AA57;
}

.column-role{
    vertical-align: middle;
}

.dropbtn.role {
    width: auto;
    height: 25px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 0;
    border: solid 1px #ffffff;
}

.dropdown-content.role {
    display: none;
    width: auto;
    height: auto;
    position: absolute;
    margin-top: 25px;
    margin-left: -10px;
    border: 1px solid #CACFD3;
    border-top: none;
    border-radius: 0;
}

.dropdown-arrow {
    position: absolute;
    margin-top: 10px;
    right: 20px;
}

.dropdown:hover .dropdown-content.role {
    display: block;
    background-color: #ffffff;
    z-index: 10000;
    border-radius: 0;

}

.dropdown-content.role a {
    color: #000000;
    text-decoration: none;
    display: block;
    font-weight: normal;
    border-radius: 0;

}

.dropdown.role {
    vertical-align: middle;
    display: flex;
    align-items: stretch;
}

.dropdown-content.role a:hover {
    color: #ffffff;
    background-color: #CACFD3;
}

.button-container {
    width: 79px;
    align-items: center;
    display: flex;
}

.button-arrow {
    display: inline-block;
    margin: auto;
}

.button-text {
    display: inline-block;
    float: left
}

.dropbtn.userpage {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
    width: 104px;
    height: 26px;
    background: #9CA7B0;
    border-radius: 4px;
    font-weight: 600;
    font-size: 13px;
    color: #444E55;
}

.dropbtn.userpage.green {
    background: #B3E6C9;
    color: #336B4C;
}

.dropdown.userpage {
    position: relative;
    width: 104px;
    height: 26px;
    padding: 0px;
    margin-top: 12px;
    margin-left: 0px;
}

.dropdown-content.userpage {
    display: none;
    width: 104px;
    height: 48px;
    text-align: left;
    border-radius: 5px;
    position: absolute;
}

.dropdown-content.userpage input {
    width: 104px;
    text-align: left;
    color: #000000;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 2px 0px 0px 15px;
    display: block;
    font-weight: normal;
}

.dropdown-content.userpage input:hover {
    color: #ffffff;
    background-color: #9CA7B0;
}

.dropdown:hover .dropbtn.userpage {
    background-color: #CACFD3;
    color: #ffffff;
    border: solid 1px #ffffff;
}

.dropdown.userpage.table-button {
    position: static;
    width: 90px;
    margin-top: 0px;
}

.dropbtn.userpage.table-button {
    width: 90px;
    height: 25px;
    padding-left: 5px;
    background: #ffffff;
    color: #000000;
    font-size: 14px;
    font-weight: normal;
}

.dropdown-content.userpage.table-button {
    width: 90px;
}

.dropdown-content.userpage.table-button input {
    width: 90px;
    height: 24px;
    padding: 0px 0px 0px 5px;
}

.dropbtn.status {
    width: 130px;
    height: 25px;
    background-color: #ffffff00;
    border: solid 1px #ffffff00;
}

.dropdown-content.status {
    display: none;
    width: auto;
    height: auto;
    position: absolute;
    margin-top: 25px;
    margin-left: -10px;
    border: 1px solid #CACFD3;
    border-top: none;
    border-radius: 0;
}

.arrow {
    cursor: pointer;
    width: 12px;
    height: 6px;
}

/*.dropbtn.access {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 25px;
}
.dropdown-content.access {
    width: 80px;
    height: 44px;
    margin-top: 25px;
}
.dropdown-content.access a {
    line-height: 19px;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    padding: 2px;
    display: block;
    font-weight: normal;
}
.dropdown.access {
    position: static;
    display: flex;
    margin-left: 0;
}*/

.table-filter-icon {
    background-image: url("/img/filter-icon.svg");
    width: 16px;
    height: 12px;
    float: right;
    margin-top: 7px;
    margin-left: 3px;
    margin-right: 5px;
}

.table-download-icon {
    background-image: url("/img/download.png");
    width: 16px;
    height: 16px;
    float: right;
    cursor: pointer;
    margin-top: 5px;
}

.table-edit-icon, .table-edit-translation-icon {
    background-image: url("/img/edit.png");
    width: 12px;
    height: 12px;
    float: right;
    cursor: pointer;
    margin-top: 5px;
}

.cut-text {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    max-width: 247px;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.name-filter-form {
    background-color: #FFFFFF;
    position: absolute;
    width: 313px;
    height: 260px;
    margin-top: 17px;
    border-radius: 4px;
    display: none;
    z-index: 1;
}

.filter-sorting-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 25px;
}

.form-search.filter {
    width: 264px;
    margin-left: 24px;
}

.filter-buttons {
    display: flex;
    justify-content: flex-end;
}

.sort-buttons.asc {
    margin-right: 7px;
    width: 124px;
}

.sort-buttons {
    border: 1px solid #13AA57;
    background-color: #FFFFFF;
    color: #13AA57;
    border-radius: 5px;
    width: 133px;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
}

.filter-checkbox {
    display: flex;
    margin-top: 20px;
}

.filter-checkbox-input {
    height: 16px;
    width: 16px;
    margin-left: 25px;
}

.filter-checkbox-text {
    margin-left: 12px;
    margin-bottom: 33px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #1D2830;
}

.filter-buttons {
    justify-content: center;
}

.filter-cancel {
    border: 1px solid #13AA57;
    background-color: #FFFFFF;
    color: #13AA57;
    border-radius: 5px;
    width: 98px;
    height: 40px;
    margin-right: 16px;
    font-weight: bold;
    font-size: 16px;
}

.filter-apply {
    border: 1px solid #13AA57;
    background-color: #13AA57;
    color: #FFFFFF;
    border-radius: 5px;
    width: 144px;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
}

.hide-button {
    display: inline-block;
    width: 75px;
    padding-left: 20px;
}

.hide-button button {
    display: flex;
    border: none;
    outline: none;
    background: none;
    align-items: center;
}

.hide-button button span {
    padding-right: 5px;
    font-size: 13px;
    color: #64727D;
}

.hide-button:focus {
    outline: none;
}

.dropdown:hover .dropdown-content.status {
    display: block;
    background-color: #ffffff;
    z-index: 10000;
    width: 185px;
    height: 60px;
    margin-left: -11px;
    border: 1px solid #CACFD3;
    border-top: 0px solid #CACFD3;

}

.dropdown-content.status a {
    color: #000000;
    text-decoration: none;
    display: block;
    font-weight: normal;

}

.dropdown.status {
    position: relative;
    display: flex;
    padding-right: 20px;
    margin-left: 0 !important;
}

.dropdown-content.status a:hover {
    color: #000000 !important;
    background-color: #9CA7B0;
    border-radius: 0px;
}

.dropbtn {
    height: auto;
    width: auto;
}

.size {
    margin-top: 4px;
    margin-left: 4.5px;
    color: #9CA7B0;
    text-align: center;
    box-sizing: border-box;
}

.dropdown-content.size {
    display: none;
    width: 97px;
    height: 112px;
    border-radius: 5px;
    box-sizing: border-box;
    position: absolute;
    margin-top: 5px;
    margin-left: -1px;
    border: solid 1px #336B4C;


}

.change_color {
    filter: invert(44%) sepia(11%) saturate(607%) hue-rotate(164deg) brightness(93%) contrast(80%);
}

.dropdown:hover .change_color {
    filter: invert(32%) sepia(38%) saturate(579%) hue-rotate(94deg) brightness(96%) contrast(83%);
}

.dropdown:hover .dropdown-content.size {
    display: block;
    background-color: #ffffff;

}

.dropdown-content.size a {
    text-decoration: none;
    border-radius: 5px;
    display: block;
    font-weight: normal;
    height: 38px;
    text-align: center;
    padding-top: 6px;
    box-sizing: border-box;
}


.dropdown.size {
    width: 97px;
    height: 36px;
    text-align: center;
    border-radius: 4px;
    border: solid 1px #9CA7B0;
    position: relative;
    display: inline-block;
    margin-left: 0 !important;
    z-index: 5;
    box-sizing: border-box;


}

.dropdown-content.size a:hover {
    color: #9CA7B0;
    /*border: solid 1px #9CA7B0;*/
    background-color: #336B4C;
    box-sizing: border-box;
    height: 35px;
    text-align: center;
    padding-bottom: 5px;
}

.filter-list-grid {
    position: relative;
    right: 50px;
    display: flex;
    /*padding-top: 5px;*/

}

.filter-list-grid i {
    margin-left: 20px;
    font-size: 16px;
}

. input[type="checkbox"]:disabled + label:before {
    color: #b8b8b8;
    cursor: auto;
    box-shadow: none;
    background: #ddd;
}

.modal .modal-dialog {
    width: 660px;
    max-width: 660px;
    height: 490px;
    border-radius: 4px;
}

.modal-title {
    text-align: center;
    margin-top: 20px;
}

.modal-title-deac {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.002em;
    color: #313131;
    padding-top: 40px;
    margin-bottom: 0;
}

.deactivation-reasons {
    color: black;
    margin-bottom: 0;
    margin-left: 12px;
}

.modal-reasons {
    display: flex;
    align-items: center;
}

.modal-title-act {
    text-align: center !important;
    padding-top: 40px;
    padding-bottom: 25px;
}

.modal-body-act1 {
    margin: 0 !important;
    padding-left: 7px;
}

.modal-body-act {
    margin: 0 !important;
}

.reason {
    margin-left: 25px;
    color: #000000;
    margin-top: 5px;
    width: 100%;
    display: inline-block;
}

.user-lang {
    width: 100%;
    display: inline-block;
    margin-top: 4px;
}

.custom-reason {
    width: 100%;
    padding: 8px;
    height: 94px;
    background: #FFFFFF;
    border: 1px solid #9CA7B0;
    border-radius: 4px;
    order: 1;
    margin-bottom: 24px;
}

.custom-reason:focus {
    border-color: red;
}

.modal .modal-header, .modal .modal-body, .modal .modal-footer {
    padding: 0 40px;
    border: none !important;

}

.modal .modal-content {
    padding-bottom: 40px;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 14px;
}

.modal .modal-footer {
    border-radius: 0 0 3px 3px;
}

.modal .modal-title {
    display: inline-block;
}

.modal {
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid #878787;
}

.form-control {
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid #ced4da;
}

.form-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;

    position: static;
    width: 500px;
    height: 36px;
    left: calc(50% - 500px / 2);
    top: calc(50% - 36px / 2);

    /* Greyscale/00.White */

    background: #FFFFFF;
    /* Greyscale/05 */

    border: 1px solid #9CA7B0;
    box-sizing: border-box;
    border-radius: 4px;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}

.modal textarea.form-control {
    resize: vertical;
}

.modal .btn {
    min-width: 100px;
}

.modal form label {
    font-weight: normal;
}

.errorSpan {
    color: red;
}

.main-search {
    flex-grow: 1;
    display: flex;
}

.form-inline.searching {
    margin-bottom: 0;
    margin-top: 5px;
    vertical-align: middle;
}

.search-submit-btn {
    visibility: hidden;
}

.search-box {
    position: relative;
    float: left;
    margin-top: 10px;
}

.search-box input {
    height: 34px;
    border-radius: 20px;
    padding-left: 35px;
    border-color: #ddd;
    box-shadow: none;
}

.search-box-right {
    position: relative;
    float: right;
    margin-left: 10px;
}

.search-box i {
    color: #a0a5b1;
    position: absolute;
    font-size: 19px;
    top: 8px;
    left: 10px;
}

.search-box input:focus {
    border-color: #245740;
}

.search-box-right input {
    height: 34px;
    border: none;
    border-radius: 0;
    padding-left: 8px;
    border-bottom: #E6E6E6 1px solid;
}

.search-box-right input:focus {
    border-color: #245740;
    outline: none;
}

.search-box-right i {
    color: #a0a5b1;
    position: absolute;
    font-size: 19px;
    top: 8px;
    left: 10px;
}

.filter-button {
    border: 1px solid #9CA7B0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    z-index: 9;
    position: static;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    /* Greyscale/05 */
    box-sizing: border-box;
    border-radius: 2px;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    margin-left: 20px;
    height: 36px;
    color: #9CA7B0;
    background-color: white;
    margin-top: 5px;
}

td input[type=search] {
    border: none;
    border-bottom: 1px solid;
    background-color: #f2f5f7;
    width: 110px;
    margin: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.search-box-right img {
    width: 16px;
    cursor: pointer;
}

.btn {
    width: 122px;
    height: 48px;
    border-radius: 5px;
    font-weight: 600;
}

.btn div {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    line-height: 16px;
}

.btn-primary {
    background-color: #13AA57;
    border: 1px solid #13AA57;
    box-sizing: border-box;
    border-radius: 4px;
    width: 98px;
    height: 40px;
    margin-top: 25px;
}

.btn-primary:hover {
    background-color: #245740;
}

.btn-primary:focus {
    background-color: #245740;
    outline: none;
}

.btn.btn-secondary {
    border: 1px solid #13AA57;
    background-color: #ffffff;
    color: #13AA57;
    border-radius: 5px;
    width: 175px;
    height: 40px;
}

.btn-secondary:hover {
    border: 1px solid #13AA57;
    background-color: #13AA57;
    color: #ffffff;
}

.btn-secondary:focus {
    border: 1px solid #10804E;
    background-color: #ffffff !important;
    color: #245740 !important;
    outline: none;
}

.btn-tertiary {
    color: #13AA57;
    border: 1px solid #13AA57;
    box-sizing: border-box;
    border-radius: 4px;
    width: 98px;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.btn-tertiary:hover {
    color: #13AA57;
}

.btn-tertiary:focus {
    color: #13AA57;
    box-shadow: 0 0 0 0.2rem rgb(76 175 80 / 25%);
}

.btn-remove {
    color: #ffffff;
    width: 130px;
    height: 40px;
    align-items: baseline;
    display: flex;
    justify-content: center;
    background: #13AA57;
    border-radius: 4px;

}
#deactivateOneSubmit{
    margin-top: 25px;
}
.btn-remove:hover {
    color: #fff;
    background-color: #B21D15;

}

.btn-remove:focus {
    color: #fff;
    background-color: #B21D15;
    outline: none;
    box-shadow: 0 0 0 .2rem rgba(225,83,97,.5);
}

.btn-remove.disabled {
    /*border: 1px solid #E02116;*/
    /*background-color: #fff;*/
    /*border-radius: 5px;*/
    /*color: #E02116;*/
    /*width: 130px;*/
    /*height: 40px;*/
    display: none;
}

.button-delete:focus{
    box-shadow: 0 0 0 .2rem rgba(225,83,97,.5);
}

.btn-danger{
    height: 40px;
    margin-top: 25px;
    width: 98px;
}

.dropbtn.userpage:focus {
    outline: none;
}

a#deactivateAllSubmit.btn.btn-danger {
    height: 59px;
}

a#deactivateOneSubmit.btn.btdeactivateUserModaln-danger {
    vertical-align: middle;
}

.table-primary > th {
    background-color: #F5F6F6;
    height: 39px;
}

.graph {
    margin-bottom: 0;
    margin-left: 5px;
    display: block;
    vertical-align: middle;
}

.arrow.fas.fa-chevron-right {
    text-align: center;
    padding-top: 9px;
    font-size: 12px;
}

.arrow.fas.fa-chevron-left {
    font-size: 12px;
    padding-top: 9px;
    text-align: center;
}

.page-item {
    margin-left: 5px;
    margin-right: 5px;
}

.deactivate-warning {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #64727D;
    padding-top: 25px;
    margin-bottom: 0;
}

.deactivate-checkbox {
    height: 16px;
    width: 16px;
    margin: 10px 0;
    padding-bottom: 5px;
    padding-top: 5px;
}

.table-hover thead tr:hover th {
    background-color: #13AA57 !important;
    color: #fff;
}

button#searchBy {
    border: none;
    background-color: transparent;
}

button#searchByForUser {
    border: none;
    background-color: transparent;
}

.col.text {
    width: 280px;
    word-wrap: break-word;
}

.col.title {
    width: 140px;
    word-wrap: break-word;
}

.col.source {
    width: 140px;
    word-wrap: break-word;
}

.col.action {
    width: 90px;
}

.habit_complexity {
    white-space: nowrap;
}

.habit_edit_descriptions {
    position: fixed;
    display: none;
    height: 400px;
    width: 660px;
    margin-top: 180px;
    margin-left: 390px;
    background: #FFFFFF;
    border-radius: 4px;
    z-index: 1000;
}

.input_translation {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    position: static;
    width: 612px;
    height: 86px;
    left: calc(50% - 612px / 2);
    top: calc(50% - 86px / 2 + 10px);
    background: #FFFFFF;
    border: 1px solid #CACFD3;
    box-sizing: border-box;
    border-radius: 4px;
}

.btn_modal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    position: static;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
    font-size: 16px;
    border-color: #13AA57;
}

.save_changes_btn {
    background: #13AA57;
    color: #ffffff;

}

.cancel_btn {

    background-color: #ffffff;
    color: #13AA57;
}

.habit_img {
    height: 34px;
    width: auto;
}

.column-credo-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 39px;
    max-width: 195px;
}

#upload_image {
    height: 212px;
    width: auto;
    max-width: 456px;
    alignment: center;
    left: 53px;
    top: 169px;
}

#upload_image:hover {
    background: #FFFFFF;
    opacity: 0.8;
    border: 1px dashed #9CA7B0;
    box-sizing: border-box;
    border-radius: 4px;
}

.dropdown:hover .dropbtn.size {
    background: white;
    color: #9CA7B0;
}

a.lightgrey {
    color: #9CA7B0 !important;
}

.dropdown.status:hover .rotate {
    transform: rotateX(180deg);
}

.cyan {
    background-color: #E5F2FF;
}

.lightgreen {
    background-color: #E7F7EE;
}

.lightmustard {
    background-color: #fff7cf;
}

.lightpink {
    background-color: #FCE0DE;
}

.lightgreen:hover, .lightpink:hover, .lightmustard:hover, .cyan:hover {
    background: white;
}

.fas.fa-chevron-up {
    float: right;
    margin-top: 11px;
    filter: invert(66%) sepia(47%) saturate(7431%) hue-rotate(117deg) brightness(93%) contrast(85%);
}

.fas.fa-chevron-down {
    float: right;
    margin-top: 11px;
    filter: invert(66%) sepia(47%) saturate(7431%) hue-rotate(117deg) brightness(93%) contrast(85%);
    transform: rotateX(180deg);
}

.sorting {
    float: right;
    margin-top: 11px;
    margin-right: 5px;
}
