body {
    color: #566787;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.table{
    font-size: 14px;
}
.table-responsive {
    margin: 30px 0;
}
.table-secondary, .table-secondary>td, .table-secondary>th{
    background-color: #F5F6F6;
}
.table-wrapper {
    background: #fff;
    padding: 20px 25px;
    border-radius: 3px;
    min-width: 1000px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
    padding-bottom: 15px;
    color: #212529;
    padding: 16px 30px;
    min-width: 100%;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}
.table-title h2 {
    display: inline-block;
    font-weight: 500;
    margin: 5px 0 0;
    font-size: 32px;
}
.table-title .btn-group {
    float: right;
}
.table-title .btn {
    color: #fff;
    float: right;
    font-size: 14px;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
}
.table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}
.table-title .btn span {
    float: left;
    margin-top: 2px;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
    padding: 12px 15px;
    vertical-align: middle;
}
table.table tr th:first-child {
    width: 60px;
}
table.table tr th:last-child {
    width: 100px;
}
table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}
table.table th i {
    font-size: 14px;
    margin: 0 5px;
    cursor: pointer;
}
table.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
}
table.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
    outline: none !important;
}
table.table td a:hover {
    color: #13AA57;
}
table.table td a.edit {
    color: #FF9310;
}
table.table td a.delete {
    color: #E02116;
}
table.table td a.deactivate-user {
    color: #E02116;
}
table.table td a.activate-user {
    color: #13AA57;
}
.statistic-style {
    color: #13AA57;
}
table.table td i {
    font-size: 19px;
}
table.table .avatar {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}
.pagination {
    float: right;
    margin: 0 0 5px;
}
.pagination li a {
    border: none;
    font-size: 14px;
    min-width: 30px;
    min-height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
}
.pagination li a:hover {
    color: #666;
}
.pagination li.active a, .pagination li.active a.page-link {
    background: #13AA57;
}
.pagination li.active a:hover {
    background: #245740;
}
.pagination li.disabled i {
    color: #ccc;
}
.pagination li i {
    font-size: 16px;
    padding-top: 6px
}
.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 14px;
}
/* Custom checkbox */
.custom-checkbox {
    position: relative;
}
.custom-checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    margin: 5px 0 0 3px;
    z-index: 9;
}
.custom-checkbox label:before{
    width: 18px;
    height: 18px;
}
.custom-checkbox label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    background: white;
    border: 1px solid #bbb;
    border-radius: 2px;
    box-sizing: border-box;
    z-index: 2;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    transform: inherit;
    z-index: 3;
    transform: rotateZ(45deg);
}
.custom-checkbox input[type="checkbox"]:checked + label:before {
    border-color: #245740;
    background: #245740;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
    border-color: #fff;
}
.custom-checkbox input[type="checkbox"]:disabled + label:before {
    color: #b8b8b8;
    cursor: auto;
    box-shadow: none;
    background: #ddd;
}
/* Modal styles */
.modal .modal-dialog {
    max-width: 600px;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
    padding: 20px 30px;
}
.modal .modal-content {
    border-radius: 3px;
    font-size: 14px;
}
.modal .modal-footer {
    border-radius: 0 0 3px 3px;
}
.modal .modal-title {
    display: inline-block;
}
.modal .form-control {
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid #878787;
}
.modal textarea.form-control {
    resize: vertical;
}
.modal .btn {
    border-radius: 2px;
    min-width: 100px;
}
.modal form label {
    font-weight: normal;
}
.errorSpan{
    color: red;
    font-style: italic;
}
.form-inline.searching{
    margin-bottom: 0;
    margin-top: 5px;
    vertical-align: middle;
}
.search-box {
    position: relative;
    float: left;
    margin-top: 10px;
}
.search-box input {
    height: 34px;
    border-radius: 20px;
    padding-left: 35px;
    border-color: #ddd;
    box-shadow: none;
}
.search-box input:focus {
    border-color: #245740;
}
.search-box i {
    color: #a0a5b1;
    position: absolute;
    font-size: 19px;
    top: 8px;
    left: 10px;
}

.search-box-right {
    position: relative;
    float: right;
    margin-left: 10px;
}
.search-box-right input {
    height: 34px;
    border:none;
    border-radius: 0;
    padding-left: 8px;
    border-bottom: #E6E6E6 1px solid;
}
.search-box-right input:focus {
    border-color: #245740;
    outline: none;
}
.search-box-right i {
    color: #a0a5b1;
    position: absolute;
    font-size: 19px;
    top: 8px;
    left: 10px;
}
input[type=search] {
    border: 1px dotted #999;
    border-radius: 0;
    width : 110px;
    margin: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.search-box-right img{
    width: 16px;
    cursor: pointer ;
}

.btn{
    width: 122px;
    height: 48px;
    border-radius: 5px;
    font-weight: 600;
}
.btn div{
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    line-height: 16px;
}

.btn-primary{
    background-color: #13AA57;
}
.btn-primary:hover{
    background-color: #245740;
}
.btn-primary:focus{
    background-color: #245740;
    outline: none;
}

.btn.btn-secondary{
    border: 1px solid #13AA57;
    background-color: #ffffff;
    color: #13AA57;
}
.btn-secondary:hover{
    border: 1px solid #10804E;
    background-color: #ffffff;
    color: #245740;
}
.btn-secondary:focus{
    border: 1px solid #10804E;
    background-color: #ffffff !important;
    color: #245740 !important;
    outline: none;
}

.btn-tertiary{
    color: #056B33;
}
.btn-tertiary:hover{
    color: #13AA57;
}
.btn-tertiary:focus{
    color: #13AA57;
}

.btn-remove {
    color: #fff;
    background-color: #E02116;
}
.btn-remove:hover{
    color: #fff;
    background-color: #B21D15;
}
.btn-remove:focus{
    color: #fff;
    background-color: #B21D15;
    outline: none;
}
.btn-remove.disabled   {
    background-color: #839C94;
}

a#deactivateAllSubmit.btn.btn-danger{
    height: 59px;
}
a#deactivateOneSubmit.btn.btn-danger{
    vertical-align: middle;
}

.table-primary>th{
    background-color: #F5F6F6;
}

.graph{
    margin-bottom: 0;
    margin-left: 5px;
    display: block;
    vertical-align: middle;
}
.arrow.fas.fa-chevron-right{
    text-align: center;
    padding-top: 9px;
    font-size: 12px;
}
.arrow.fas.fa-chevron-left{
    font-size: 12px;
    padding-top: 9px;
    text-align: center;
}
.page-item{
    margin-left: 5px;
    margin-right: 5px;
}
.text-warning{
    color: #FF9310 !important;
}

.table-hover thead tr:hover th{
    background-color: #13AA57 !important;
    color: #fff;
}
button#searchBy{
    border: none;
    background-color: transparent;
}
button#searchBy img{
    width: 22px;
}
